In [104]:
docA = "I love my India"
docB = "I love the mathematical aspects of Data Science"
docC= "Science education in India has progressed a lot during early independence"

In [105]:
bowA = docA.split(" ")
bowB = docB.split(" ")
bowC = docC.split(" ")

In [106]:
wordSet = set(bowA).union(set(bowB)).union(set(bowC))

In [107]:
wordDictA = dict.fromkeys(wordSet, 0)
wordDictB = dict.fromkeys(wordSet, 0)
wordDictC = dict.fromkeys(wordSet, 0)

In [108]:
for word in bowA:
    wordDictA[word] += 1

for word in bowB:
    wordDictB[word] += 1

for word in bowC:
    wordDictC[word] += 1

wordDictB

{'a': 0,
 'Science': 1,
 'in': 0,
 'my': 0,
 'India': 0,
 'education': 0,
 'the': 1,
 'aspects': 1,
 'I': 1,
 'early': 0,
 'Data': 1,
 'has': 0,
 'lot': 0,
 'mathematical': 1,
 'of': 1,
 'progressed': 0,
 'love': 1,
 'independence': 0,
 'during': 0}

In [109]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB, wordDictC])

,a,Science,in,my,India,education,the,aspects,I,early,Data,has,lot,mathematical,of,progressed,love,independence,during
0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0
1,0,1,0,0,0,0,1,1,1,0,1,0,0,1,1,0,1,0,0
2,1,1,1,0,1,1,0,0,0,1,0,1,1,0,0,1,0,1,1

# Term Frequency

In [110]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count / bowCount
    return tfDict

In [111]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)
tfBowC = computeTF(wordDictC, bowC)

In [112]:
pd.DataFrame([tfBowA, tfBowB, tfBowC])

,a,Science,in,my,India,education,the,aspects,I,early,Data,has,lot,mathematical,of,progressed,love,independence,during
0,0.000000,0.000000,0.000000,0.25,0.250000,0.000000,0.000,0.000,0.250,0.000000,0.000,0.000000,0.000000,0.000,0.000,0.000000,0.250,0.000000,0.000000
1,0.000000,0.125000,0.000000,0.00,0.000000,0.000000,0.125,0.125,0.125,0.000000,0.125,0.000000,0.000000,0.125,0.125,0.000000,0.125,0.000000,0.000000
2,0.090909,0.090909,0.090909,0.00,0.090909,0.090909,0.000,0.000,0.000,0.090909,0.000,0.090909,0.090909,0.000,0.000,0.090909,0.000,0.090909,0.090909

# Inverse Data Frequency

In [113]:
import math 

def computeIDF(docList):
    idfDict = {}
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    N = len(docList)

    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / val) + 1

    return idfDict

In [114]:
idfs = computeIDF([wordDictA, wordDictB, wordDictC])

In [115]:
idfs

{'a': 2.09861228866811,
 'Science': 1.4054651081081644,
 'in': 2.09861228866811,
 'my': 2.09861228866811,
 'India': 1.4054651081081644,
 'education': 2.09861228866811,
 'the': 2.09861228866811,
 'aspects': 2.09861228866811,
 'I': 1.4054651081081644,
 'early': 2.09861228866811,
 'Data': 2.09861228866811,
 'has': 2.09861228866811,
 'lot': 2.09861228866811,
 'mathematical': 2.09861228866811,
 'of': 2.09861228866811,
 'progressed': 2.09861228866811,
 'love': 1.4054651081081644,
 'independence': 2.09861228866811,
 'during': 2.09861228866811}

In [116]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [117]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)
tfidfBowC = computeTFIDF(tfBowC, idfs)

In [118]:
pd.DataFrame([tfidfBowA, tfidfBowB, tfidfBowC])

,a,Science,in,my,India,education,the,aspects,I,early,Data,has,lot,mathematical,of,progressed,love,independence,during
0,0.000000,0.000000,0.000000,0.524653,0.351366,0.000000,0.000000,0.000000,0.351366,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.351366,0.000000,0.000000
1,0.000000,0.175683,0.000000,0.000000,0.000000,0.000000,0.262327,0.262327,0.175683,0.000000,0.262327,0.000000,0.000000,0.262327,0.262327,0.000000,0.175683,0.000000,0.000000
2,0.190783,0.127770,0.190783,0.000000,0.127770,0.190783,0.000000,0.000000,0.000000,0.190783,0.000000,0.190783,0.190783,0.000000,0.000000,0.190783,0.000000,0.190783,0.190783

# Cosine Similarity

In [119]:
keyword = "Data Science India"

kws = keyword.split(" ")
kwordDict = dict.fromkeys(set(kws), 0)
for word in kws:
    kwordDict[word] += 1
tfkws = computeTF(kwordDict, kws)

idfKws = computeIDF([kwordDict])
tfidfKws = computeTFIDF(tfkws, idfKws)
print(tfidfKws)

{'Data': 0.3333333333333333, 'Science': 0.3333333333333333, 'India': 0.3333333333333333}

In [120]:
docs = [tfidfBowA, tfidfBowB, tfidfBowC]

for doc in docs:
    num = qden = docden = 0
    for word in tfidfKws:
        num += doc[word] * tfidfKws[word]
        qden += tfidfKws[word] ** 2
        docden += doc[word] ** 2
    sim = num / (math.sqrt(qden) * math.sqrt(docden))
    print(sim)

0.5773502691896258
0.8009760816565887
0.8164965809277259