In [376]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
import seaborn as sns

%matplotlib inline

In [377]:
import warnings
warnings.filterwarnings('ignore')

In [378]:
df = pd.read_csv('Melbourne_housing_FULL.csv')

In [379]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [380]:
df.shape

(34857, 21)

# Cardinality :

In [381]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [382]:
attributes_with_lower_cardinality = ['Rooms', 'Type', 'Method', 'Bedroom2', 'Bathroom', 'Car', 'Regionname', 'YearBuilt']

for i in attributes_with_lower_cardinality:
    print(f"{i}=======>")
    print(df[i].value_counts())
    print()

Rooms=======>
3     15084
2      8332
4      7956
5      1737
1      1479
6       204
7        32
8        19
10        6
9         4
12        3
16        1
Name: Rooms, dtype: int64

Type=======>
h    23980
u     7297
t     3580
Name: Type, dtype: int64

Method=======>
S     19744
SP     5095
PI     4850
VB     3108
SN     1317
PN      308
SA      226
W       173
SS       36
Name: Method, dtype: int64

Bedroom2=======>
3.0     11881
4.0      6348
2.0      5777
5.0      1427
1.0       966
6.0       168
7.0        30
0.0        17
8.0        13
9.0         5
10.0        4
30.0        1
20.0        1
16.0        1
12.0        1
Name: Bedroom2, dtype: int64

Bathroom=======>
1.0     12969
2.0     11064
3.0      2181
4.0       269
5.0        77
0.0        46
6.0        16
7.0         4
8.0         3
12.0        1
9.0         1
Name: Bathroom, dtype: int64

Car=======>
2.0     12214
1.0      9164
0.0      1631
3.0      1606
4.0      1161
5.0       151
6.0       140
7.0        25
8.0        23
10.0        6
9.0         3
11.0        2
26.0        1
18.0        1
12.0        1
Name: Car, dtype: int64

Regionname=======>
Southern Metropolitan         11836
Northern Metropolitan          9557
Western Metropolitan           6799
Eastern Metropolitan           4377
South-Eastern Metropolitan     1739
Eastern Victoria                228
Northern Victoria               203
Western Victoria                115
Name: Regionname, dtype: int64

YearBuilt=======>
1970.0    1490
1960.0    1260
1950.0    1089
1980.0     726
1900.0     606
          ...
1830.0       1
2106.0       1
1897.0       1
1876.0       1
1879.0       1
Name: YearBuilt, Length: 160, dtype: int64

In [383]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [384]:
cols_to_use = ['Suburb',  'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount',
       'Distance', 'CouncilArea', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea',   'Price']

df = df[cols_to_use]
df.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

# Null Analysis

In [385]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [386]:
cols_to_fill_zero = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)

df['Landsize'] = df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df['Landsize'].mean())

In [387]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [388]:
df.shape

(34857, 15)

In [389]:
df.dropna(inplace=True)

In [390]:
df.shape

(27244, 15)

In [391]:
34857-27244

7613

# Categorical Variables Encoding

In [392]:
for i in df.columns:
    print(f"{i}=======>")
    print(df[i].value_counts())
    print()

Suburb=======>
Reservoir          727
Bentleigh East     493
Richmond           439
Preston            415
Brunswick          387
                  ...
croydon              1
Tecoma               1
Cranbourne East      1
Yarra Glen           1
Kalkallo             1
Name: Suburb, Length: 344, dtype: int64

Rooms=======>
3     11956
2      6785
4      5918
5      1209
1      1196
6       137
7        20
8        14
10        5
12        2
9         1
16        1
Name: Rooms, dtype: int64

Type=======>
h    18470
u     5908
t     2866
Name: Type, dtype: int64

Method=======>
S     17514
SP     3602
PI     3255
VB     2683
SA      190
Name: Method, dtype: int64

SellerG=======>
Nelson           2735
Jellis           2531
Barry            2393
hockingstuart    2110
Ray              1581
                 ...
Craig               1
Reed                1
White               1
Oak                 1
Sanctuary           1
Name: SellerG, Length: 349, dtype: int64

Regionname=======>
Southern Metropolitan         8524
Northern Metropolitan         7864
Western Metropolitan          5815
Eastern Metropolitan          3272
South-Eastern Metropolitan    1341
Eastern Victoria               166
Northern Victoria              166
Western Victoria                96
Name: Regionname, dtype: int64

Propertycount=======>
21650.0    727
8870.0     609
10969.0    493
14949.0    439
14577.0    415
          ...
1424.0       1
5462.0       1
869.0        1
1160.0       1
121.0        1
Name: Propertycount, Length: 336, dtype: int64

Distance=======>
11.2    1112
13.8     558
10.5     526
5.2      486
7.8      461
        ...
33.0       1
22.9       1
30.4       1
31.4       1
29.5       1
Name: Distance, Length: 213, dtype: int64

CouncilArea=======>
Boroondara City Council           2520
Darebin City Council              2349
Moreland City Council             1790
Glen Eira City Council            1643
Moonee Valley City Council        1584
Melbourne City Council            1502
Banyule City Council              1457
Brimbank City Council             1366
Bayside City Council              1311
Maribyrnong City Council          1221
Hume City Council                 1036
Monash City Council               1007
Port Phillip City Council          952
Yarra City Council                 918
Stonnington City Council           884
Manningham City Council            842
Hobsons Bay City Council           799
Kingston City Council              735
Whittlesea City Council            709
Wyndham City Council               492
Whitehorse City Council            435
Maroondah City Council             356
Knox City Council                  287
Melton City Council                243
Frankston City Council             229
Greater Dandenong City Council     209
Casey City Council                 138
Nillumbik Shire Council             78
Yarra Ranges Shire Council          71
Macedon Ranges Shire Council        39
Cardinia Shire Council              26
Mitchell Shire Council              11
Moorabool Shire Council              5
Name: CouncilArea, dtype: int64

Bedroom2=======>
3.0     9416
0.0     6454
4.0     4766
2.0     4696
5.0      983
1.0      781
6.0      110
7.0       19
8.0        9
10.0       4
9.0        3
20.0       1
16.0       1
12.0       1
Name: Bedroom2, dtype: int64

Bathroom=======>
1.0    10527
2.0     8464
0.0     6478
3.0     1537
4.0      176
5.0       46
6.0       10
8.0        3
7.0        2
9.0        1
Name: Bathroom, dtype: int64

Car=======>
2.0     9367
0.0     8072
1.0     7400
3.0     1234
4.0      907
5.0      113
6.0      105
7.0       19
8.0       18
10.0       5
9.0        2
18.0       1
11.0       1
Name: Car, dtype: int64

Landsize=======>
593.598993     9262
0.000000       1942
650.000000      161
697.000000       97
585.000000       74
               ...
1276.000000       1
1026.000000       1
1803.000000       1
4290.000000       1
1163.000000       1
Name: Landsize, Length: 1558, dtype: int64

BuildingArea=======>
593.598993    16588
120.000000      152
110.000000      128
115.000000      126
100.000000      123
              ...
167.130000        1
443.000000        1
104.630000        1
227.600000        1
649.000000        1
Name: BuildingArea, Length: 663, dtype: int64

Price=======>
1100000.0    235
600000.0     235
650000.0     219
800000.0     217
1300000.0    210
            ...
1452000.0      1
2555000.0      1
949500.0       1
426500.0       1
1605500.0      1
Name: Price, Length: 2871, dtype: int64

In [393]:
df = pd.get_dummies(df, drop_first=True)

In [394]:
df.columns

Index(['Rooms', 'Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'Price', 'Suburb_Aberfeldie',
       ...
       'CouncilArea_Moorabool Shire Council',
       'CouncilArea_Moreland City Council',
       'CouncilArea_Nillumbik Shire Council',
       'CouncilArea_Port Phillip City Council',
       'CouncilArea_Stonnington City Council',
       'CouncilArea_Whitehorse City Council',
       'CouncilArea_Whittlesea City Council',
       'CouncilArea_Wyndham City Council', 'CouncilArea_Yarra City Council',
       'CouncilArea_Yarra Ranges Shire Council'],
      dtype='object', length=745)

In [395]:
df.head()

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,2,4019.0,2.5,2.0,1.0,1.0,202.0,593.598993,1480000.0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,4019.0,2.5,2.0,1.0,0.0,156.0,79.000000,1035000.0,0,...,0,0,0,0,0,0,0,0,1,0
4,3,4019.0,2.5,3.0,2.0,0.0,134.0,150.000000,1465000.0,0,...,0,0,0,0,0,0,0,0,1,0
5,3,4019.0,2.5,3.0,2.0,1.0,94.0,593.598993,850000.0,0,...,0,0,0,0,0,0,0,0,1,0
6,4,4019.0,2.5,3.0,1.0,2.0,120.0,142.000000,1600000.0,0,...,0,0,0,0,0,0,0,0,1,0

# Split dataset into features and target

In [396]:
X = df.drop('Price', axis = 1)
y = df['Price']

# Split Dataset into training & test

In [397]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [398]:
X_train.shape

(19070, 744)

In [399]:
X_test.shape

(8174, 744)

# Training the model

In [400]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [401]:
reg.score(X_test, y_test)

-103278779786.67827

In [402]:
reg.score(X_train, y_train)

0.6793894045763377

# Apply Lasso (L1 Regularization) Regression model

In [370]:
from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [371]:
lasso_reg.score(X_test, y_test)

0.6764389542524254

In [372]:
lasso_reg.score(X_train, y_train)

0.6746737358502194

# Apply Ridge (L2 Regularization) Regression model

In [373]:
from sklearn.linear_model import Ridge 
ridge_reg = Ridge(alpha=50, max_iter = 100, tol =0.1)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [374]:
ridge_reg.score(X_test, y_test)

0.6733357857545237

In [375]:
ridge_reg.score(X_train, y_train)

0.6605034955978976