In [27]:
# !pip install pyspark

In [28]:
import pyspark 
dir(pyspark)

['Accumulator',
 'AccumulatorParam',
 'Any',
 'BarrierTaskContext',
 'BarrierTaskInfo',
 'BasicProfiler',
 'Broadcast',
 'CPickleSerializer',
 'Callable',
 'HiveContext',
 'InheritableThread',
 'MarshalSerializer',
 'Optional',
 'Profiler',
 'RDD',
 'RDDBarrier',
 'Row',
 'SQLContext',
 'SparkConf',
 'SparkContext',
 'SparkFiles',
 'SparkJobInfo',
 'SparkStageInfo',
 'StatusTracker',
 'StorageLevel',
 'TaskContext',
 'TypeVar',
 'Union',
 '_F',
 '_NoValue',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_globals',
 'accumulators',
 'broadcast',
 'cast',
 'cloudpickle',
 'conf',
 'context',
 'copy_func',
 'errors',
 'files',
 'filterwarnings',
 'find_spark_home',
 'inheritable_thread_target',
 'java_gateway',
 'join',
 'keyword_only',
 'profiler',
 'rdd',
 'rddsampler',
 'resource',
 'resultiterable',
 'serializers',
 'shuffle',
 'since',
 'sql',
 'statcounter',
 'status',
 'storagelevel',
 'taskcontext',
 'traceback_utils',
 'types',
 'util',
 'version',
 'wraps']

In [29]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practice').getOrCreate()

In [30]:
spark

In [31]:
from pyspark import SparkContext, SparkConf

spark_conf = SparkConf().setAppName("MyApp").setMaster("local[*]")

sc = SparkContext.getOrCreate(spark_conf)

In [32]:
sc.getConf().getAll()

[('spark.app.submitTime', '1696053110487'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.port', '49938'),
 ('spark.app.name', 'Practice'),
 ('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.sql.warehouse.dir',
  'file:/Users/sauravbhattacharyya/Documents/DataScience2022/PySpark/spark-warehouse'),
 ('spark.app.id', 'local-1696053111191'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.driver.host', '192.168.29.194'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.app.startTime', '1696053110666')]

In [33]:
sc

In [34]:
sc.parallelize(range(1, 100), 3).collect()

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [35]:
nums = list(range(1, 1000001))
len(nums)

1000000

# Parallelize & Create RDD
Resilient Distributed Dataset

In [36]:
nums_rdd = sc.parallelize(nums)
nums_rdd

ParallelCollectionRDD[34] at readRDDFromFile at PythonRDD.scala:287

In [37]:
nums_rdd.collect()

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [38]:
nums_rdd.take(5)

[1, 2, 3, 4, 5]

In [39]:
squares_nums_rdd = nums_rdd.map(lambda x: x**2)
squares_nums_rdd.take(5)

[1, 4, 9, 16, 25]

In [40]:
x = range(1, 1000001)
len(x)

1000000

In [41]:
# squared = map(lambda y: y**2, x)
# list(squared)

In [42]:
len_pair = squares_nums_rdd.map(lambda x: (x, len(str(x))))
len_pair.take(10)

[(1, 1),
 (4, 1),
 (9, 1),
 (16, 2),
 (25, 2),
 (36, 2),
 (49, 2),
 (64, 2),
 (81, 2),
 (100, 3)]

In [43]:
even_len_pair = len_pair.filter(lambda x: (x[1] % 2 == 0))
even_len_pair.take(25)

[(16, 2),
 (25, 2),
 (36, 2),
 (49, 2),
 (64, 2),
 (81, 2),
 (1024, 4),
 (1089, 4),
 (1156, 4),
 (1225, 4),
 (1296, 4),
 (1369, 4),
 (1444, 4),
 (1521, 4),
 (1600, 4),
 (1681, 4),
 (1764, 4),
 (1849, 4),
 (1936, 4),
 (2025, 4),
 (2116, 4),
 (2209, 4),
 (2304, 4),
 (2401, 4),
 (2500, 4)]

In [44]:
flipped_pair = even_len_pair.map(lambda x: (x[1], x[0]))
flipped_pair.take(10)

[(2, 16),
 (2, 25),
 (2, 36),
 (2, 49),
 (2, 64),
 (2, 81),
 (4, 1024),
 (4, 1089),
 (4, 1156),
 (4, 1225)]

In [45]:
grouped = flipped_pair.groupByKey()
grouped.take(25)

[(8, <pyspark.resultiterable.ResultIterable at 0x1687e39d0>),
 (2, <pyspark.resultiterable.ResultIterable at 0x1378e5e70>),
 (10, <pyspark.resultiterable.ResultIterable at 0x1378e47f0>),
 (4, <pyspark.resultiterable.ResultIterable at 0x1378e6140>),
 (12, <pyspark.resultiterable.ResultIterable at 0x1378e61d0>),
 (6, <pyspark.resultiterable.ResultIterable at 0x1378e5330>)]

In [46]:
grouped_expanded = grouped.map(lambda x : (x[0], list(x[1])))
grouped_expanded.take(10)

[(8,
  [10004569,
   10010896,
   10017225,
   10023556,
   10029889,
   10036224,
   10042561,
   10048900,
   10055241,
   10061584,
   10067929,
   10074276,
   10080625,
   10086976,
   10093329,
   10099684,
   10106041,
   10112400,
   10118761,
   10125124,
   10131489,
   10137856,
   10144225,
   10150596,
   10156969,
   10163344,
   10169721,
   10176100,
   10182481,
   10188864,
   10195249,
   10201636,
   10208025,
   10214416,
   10220809,
   10227204,
   10233601,
   10240000,
   10246401,
   10252804,
   10259209,
   10265616,
   10272025,
   10278436,
   10284849,
   10291264,
   10297681,
   10304100,
   10310521,
   10316944,
   10323369,
   10329796,
   10336225,
   10342656,
   10349089,
   10355524,
   10361961,
   10368400,
   10374841,
   10381284,
   10387729,
   10394176,
   10400625,
   10407076,
   10413529,
   10419984,
   10426441,
   10432900,
   10439361,
   10445824,
   10452289,
   10458756,
   10465225,
   10471696,
   10478169,
   10484644,
   10491121,
   10497600,
   10504081,
   10510564,
   10517049,
   10523536,
   10530025,
   10536516,
   10543009,
   10549504,
   10556001,
   10562500,
   10569001,
   10575504,
   10582009,
   10588516,
   10595025,
   10601536,
   10608049,
   10614564,
   10621081,
   10627600,
   10634121,
   10640644,
   10647169,
   10653696,
   10660225,
   10666756,
   10673289,
   10679824,
   10686361,
   10692900,
   10699441,
   10705984,
   10712529,
   10719076,
   10725625,
   10732176,
   10738729,
   10745284,
   10751841,
   10758400,
   10764961,
   10771524,
   10778089,
   10784656,
   10791225,
   10797796,
   10804369,
   10810944,
   10817521,
   10824100,
   10830681,
   10837264,
   10843849,
   10850436,
   10857025,
   10863616,
   10870209,
   10876804,
   10883401,
   10890000,
   10896601,
   10903204,
   10909809,
   10916416,
   10923025,
   10929636,
   10936249,
   10942864,
   10949481,
   10956100,
   10962721,
   10969344,
   10975969,
   10982596,
   10989225,
   10995856,
   11002489,
   11009124,
   11015761,
   11022400,
   11029041,
   11035684,
   11042329,
   11048976,
   11055625,
   11062276,
   11068929,
   11075584,
   11082241,
   11088900,
   11095561,
   11102224,
   11108889,
   11115556,
   11122225,
   11128896,
   11135569,
   11142244,
   11148921,
   11155600,
   11162281,
   11168964,
   11175649,
   11182336,
   11189025,
   11195716,
   11202409,
   11209104,
   11215801,
   11222500,
   11229201,
   11235904,
   11242609,
   11249316,
   11256025,
   11262736,
   11269449,
   11276164,
   11282881,
   11289600,
   11296321,
   11303044,
   11309769,
   11316496,
   11323225,
   11329956,
   11336689,
   11343424,
   11350161,
   11356900,
   11363641,
   11370384,
   11377129,
   11383876,
   11390625,
   11397376,
   11404129,
   11410884,
   11417641,
   11424400,
   11431161,
   11437924,
   11444689,
   11451456,
   11458225,
   11464996,
   11471769,
   11478544,
   11485321,
   11492100,
   11498881,
   11505664,
   11512449,
   11519236,
   11526025,
   11532816,
   11539609,
   11546404,
   11553201,
   11560000,
   11566801,
   11573604,
   11580409,
   11587216,
   11594025,
   11600836,
   11607649,
   11614464,
   11621281,
   11628100,
   11634921,
   11641744,
   11648569,
   11655396,
   11662225,
   11669056,
   11675889,
   11682724,
   11689561,
   11696400,
   11703241,
   11710084,
   11716929,
   11723776,
   11730625,
   11737476,
   11744329,
   11751184,
   11758041,
   11764900,
   11771761,
   11778624,
   11785489,
   11792356,
   11799225,
   11806096,
   11812969,
   11819844,
   11826721,
   11833600,
   11840481,
   11847364,
   11854249,
   11861136,
   11868025,
   11874916,
   11881809,
   11888704,
   11895601,
   11902500,
   11909401,
   11916304,
   11923209,
   11930116,
   11937025,
   11943936,
   11950849,
   11957764,
   11964681,
   11971600,
   11978521,
   11985444,
   11992369,
   11999296,
   12006225,
   12013156,
   12020089,
   12027024,
   12033961,
   12040900,
   12047841,
   12054784,
   12061729,
   12068676,
   12075625,
   12082576,
   12089529,
   12096484,
   12103441,
   12110400,
   12117361,
   12124324,
   12131289,
   12138256,
   12145225,
   12152196,
   12159169,
   12166144,
   12173121,
   12180100,
   12187081,
   12194064,
   12201049,
   12208036,
   12215025,
   12222016,
   12229009,
   12236004,
   12243001,
   12250000,
   12257001,
   12264004,
   12271009,
   12278016,
   12285025,
   12292036,
   12299049,
   12306064,
   12313081,
   12320100,
   12327121,
   12334144,
   12341169,
   12348196,
   12355225,
   12362256,
   12369289,
   12376324,
   12383361,
   12390400,
   12397441,
   12404484,
   12411529,
   12418576,
   12425625,
   12432676,
   12439729,
   12446784,
   12453841,
   12460900,
   12467961,
   12475024,
   12482089,
   12489156,
   12496225,
   12503296,
   12510369,
   12517444,
   12524521,
   12531600,
   12538681,
   12545764,
   12552849,
   12559936,
   12567025,
   12574116,
   12581209,
   12588304,
   12595401,
   12602500,
   12609601,
   12616704,
   12623809,
   12630916,
   12638025,
   12645136,
   12652249,
   12659364,
   12666481,
   12673600,
   12680721,
   12687844,
   12694969,
   12702096,
   12709225,
   12716356,
   12723489,
   12730624,
   12737761,
   12744900,
   12752041,
   12759184,
   12766329,
   12773476,
   12780625,
   12787776,
   12794929,
   12802084,
   12809241,
   12816400,
   12823561,
   12830724,
   12837889,
   12845056,
   12852225,
   12859396,
   12866569,
   12873744,
   12880921,
   12888100,
   12895281,
   12902464,
   12909649,
   12916836,
   12924025,
   12931216,
   12938409,
   12945604,
   12952801,
   12960000,
   12967201,
   12974404,
   12981609,
   12988816,
   12996025,
   13003236,
   13010449,
   13017664,
   13024881,
   13032100,
   13039321,
   13046544,
   13053769,
   13060996,
   13068225,
   13075456,
   13082689,
   13089924,
   13097161,
   13104400,
   13111641,
   13118884,
   13126129,
   13133376,
   13140625,
   13147876,
   13155129,
   13162384,
   13169641,
   13176900,
   13184161,
   13191424,
   13198689,
   13205956,
   13213225,
   13220496,
   13227769,
   13235044,
   13242321,
   13249600,
   13256881,
   13264164,
   13271449,
   13278736,
   13286025,
   13293316,
   13300609,
   13307904,
   13315201,
   13322500,
   13329801,
   13337104,
   13344409,
   13351716,
   13359025,
   13366336,
   13373649,
   13380964,
   13388281,
   13395600,
   13402921,
   13410244,
   13417569,
   13424896,
   13432225,
   13439556,
   13446889,
   13454224,
   13461561,
   13468900,
   13476241,
   13483584,
   13490929,
   13498276,
   13505625,
   13512976,
   13520329,
   13527684,
   13535041,
   13542400,
   13549761,
   13557124,
   13564489,
   13571856,
   13579225,
   13586596,
   13593969,
   13601344,
   13608721,
   13616100,
   13623481,
   13630864,
   13638249,
   13645636,
   13653025,
   13660416,
   13667809,
   13675204,
   13682601,
   13690000,
   13697401,
   13704804,
   13712209,
   13719616,
   13727025,
   13734436,
   13741849,
   13749264,
   13756681,
   13764100,
   13771521,
   13778944,
   13786369,
   13793796,
   13801225,
   13808656,
   13816089,
   13823524,
   13830961,
   13838400,
   13845841,
   13853284,
   13860729,
   13868176,
   13875625,
   13883076,
   13890529,
   13897984,
   13905441,
   13912900,
   13920361,
   13927824,
   13935289,
   13942756,
   13950225,
   13957696,
   13965169,
   13972644,
   13980121,
   13987600,
   13995081,
   14002564,
   14010049,
   14017536,
   14025025,
   14032516,
   14040009,
   14047504,
   14055001,
   14062500,
   14070001,
   14077504,
   14085009,
   14092516,
   14100025,
   14107536,
   14115049,
   14122564,
   14130081,
   14137600,
   14145121,
   14152644,
   14160169,
   14167696,
   14175225,
   14182756,
   14190289,
   14197824,
   14205361,
   14212900,
   14220441,
   14227984,
   14235529,
   14243076,
   14250625,
   14258176,
   14265729,
   14273284,
   14280841,
   14288400,
   14295961,
   14303524,
   14311089,
   14318656,
   14326225,
   14333796,
   14341369,
   14348944,
   14356521,
   14364100,
   14371681,
   14379264,
   14386849,
   14394436,
   14402025,
   14409616,
   14417209,
   14424804,
   14432401,
   14440000,
   14447601,
   14455204,
   14462809,
   14470416,
   14478025,
   14485636,
   14493249,
   14500864,
   14508481,
   14516100,
   14523721,
   14531344,
   14538969,
   14546596,
   14554225,
   14561856,
   14569489,
   14577124,
   14584761,
   14592400,
   14600041,
   14607684,
   14615329,
   14622976,
   14630625,
   14638276,
   14645929,
   14653584,
   14661241,
   14668900,
   14676561,
   14684224,
   14691889,
   14699556,
   14707225,
   14714896,
   14722569,
   14730244,
   14737921,
   14745600,
   14753281,
   14760964,
   14768649,
   14776336,
   14784025,
   14791716,
   14799409,
   14807104,
   14814801,
   14822500,
   14830201,
   14837904,
   14845609,
   14853316,
   14861025,
   14868736,
   14876449,
   14884164,
   14891881,
   14899600,
   14907321,
   14915044,
   14922769,
   14930496,
   14938225,
   14945956,
   14953689,
   14961424,
   14969161,
   14976900,
   14984641,
   14992384,
   15000129,
   15007876,
   15015625,
   15023376,
   15031129,
   15038884,
   15046641,
   15054400,
   15062161,
   15069924,
   15077689,
   15085456,
   15093225,
   15100996,
   15108769,
   15116544,
   15124321,
   15132100,
   15139881,
   15147664,
   15155449,
   15163236,
   15171025,
   15178816,
   15186609,
   15194404,
   15202201,
   15210000,
   15217801,
   15225604,
   15233409,
   15241216,
   15249025,
   15256836,
   15264649,
   15272464,
   15280281,
   15288100,
   15295921,
   15303744,
   15311569,
   15319396,
   15327225,
   15335056,
   15342889,
   15350724,
   15358561,
   15366400,
   15374241,
   15382084,
   15389929,
   15397776,
   15405625,
   15413476,
   15421329,
   15429184,
   15437041,
   15444900,
   15452761,
   15460624,
   15468489,
   15476356,
   15484225,
   15492096,
   15499969,
   15507844,
   15515721,
   15523600,
   15531481,
   15539364,
   15547249,
   15555136,
   15563025,
   15570916,
   15578809,
   15586704,
   15594601,
   15602500,
   15610401,
   15618304,
   15626209,
   15634116,
   15642025,
   15649936,
   15657849,
   15665764,
   15673681,
   15681600,
   15689521,
   15697444,
   15705369,
   15713296,
   15721225,
   15729156,
   15737089,
   15745024,
   15752961,
   15760900,
   15768841,
   15776784,
   15784729,
   15792676,
   15800625,
   15808576,
   15816529,
   15824484,
   15832441,
   15840400,
   15848361,
   15856324,
   15864289,
   15872256,
   15880225,
   15888196,
   15896169,
   15904144,
   15912121,
   15920100,
   15928081,
   15936064,
   15944049,
   15952036,
   15960025,
   15968016,
   15976009,
   15984004,
   15992001,
   16000000,
   16008001,
   16016004,
   16024009,
   16032016,
   16040025,
   16048036,
   16056049,
   16064064,
   16072081,
   16080100,
   16088121,
   16096144,
   16104169,
   16112196,
   16120225,
   16128256,
   16136289,
   16144324,
   16152361,
   16160400,
   16168441,
   16176484,
   16184529,
   16192576,
   16200625,
   16208676,
   16216729,
   16224784,
   16232841,
   16240900,
   16248961,
   16257024,
   16265089,
   16273156,
   16281225,
   16289296,
   16297369,
   16305444,
   16313521,
   16321600,
   16329681,
   16337764,
   16345849,
   16353936,
   16362025,
   16370116,
   16378209,
   16386304,
   16394401,
   16402500,
   16410601,
   16418704,
   16426809,
   16434916,
   16443025,
   16451136,
   16459249,
   16467364,
   16475481,
   16483600,
   16491721,
   16499844,
   16507969,
   16516096,
   16524225,
   16532356,
   16540489,
   16548624,
   16556761,
   16564900,
   16573041,
   16581184,
   16589329,
   16597476,
   16605625,
   16613776,
   16621929,
   16630084,
   16638241,
   16646400,
   16654561,
   16662724,
   16670889,
   16679056,
   16687225,
   16695396,
   16703569,
   16711744,
   16719921,
   16728100,
   16736281,
   16744464,
   16752649,
   16760836,
   16769025,
   16777216,
   16785409,
   16793604,
   16801801,
   16810000,
   16818201,
   16826404,
   16834609,
   16842816,
   16851025,
   16859236,
   16867449,
   16875664,
   16883881,
   16892100,
   16900321,
   16908544,
   16916769,
   16924996,
   16933225,
   16941456,
   16949689,
   16957924,
   16966161,
   16974400,
   16982641,
   16990884,
   16999129,
   17007376,
   17015625,
   17023876,
   17032129,
   17040384,
   17048641,
   17056900,
   17065161,
   17073424,
   17081689,
   17089956,
   17098225,
   17106496,
   17114769,
   17123044,
   17131321,
   17139600,
   17147881,
   17156164,
   17164449,
   17172736,
   17181025,
   17189316,
   17197609,
   17205904,
   17214201,
   17222500,
   17230801,
   17239104,
   17247409,
   17255716,
   17264025,
   17272336,
   17280649,
   17288964,
   17297281,
   17305600,
   17313921,
   17322244,
   ...]),
 (2, [16, 25, 36, 49, 64, 81]),
 (10,
  [1000014129,
   1000077376,
   1000140625,
   1000203876,
   1000267129,
   1000330384,
   1000393641,
   1000456900,
   1000520161,
   1000583424,
   1000646689,
   1000709956,
   1000773225,
   1000836496,
   1000899769,
   1000963044,
   1001026321,
   1001089600,
   1001152881,
   1001216164,
   1001279449,
   1001342736,
   1001406025,
   1001469316,
   1001532609,
   1001595904,
   1001659201,
   1001722500,
   1001785801,
   1001849104,
   1001912409,
   1001975716,
   1002039025,
   1002102336,
   1002165649,
   1002228964,
   1002292281,
   1002355600,
   1002418921,
   1002482244,
   1002545569,
   1002608896,
   1002672225,
   1002735556,
   1002798889,
   1002862224,
   1002925561,
   1002988900,
   1003052241,
   1003115584,
   1003178929,
   1003242276,
   1003305625,
   1003368976,
   1003432329,
   1003495684,
   1003559041,
   1003622400,
   1003685761,
   1003749124,
   1003812489,
   1003875856,
   1003939225,
   1004002596,
   1004065969,
   1004129344,
   1004192721,
   1004256100,
   1004319481,
   1004382864,
   1004446249,
   1004509636,
   1004573025,
   1004636416,
   1004699809,
   1004763204,
   1004826601,
   1004890000,
   1004953401,
   1005016804,
   1005080209,
   1005143616,
   1005207025,
   1005270436,
   1005333849,
   1005397264,
   1005460681,
   1005524100,
   1005587521,
   1005650944,
   1005714369,
   1005777796,
   1005841225,
   1005904656,
   1005968089,
   1006031524,
   1006094961,
   1006158400,
   1006221841,
   1006285284,
   1006348729,
   1006412176,
   1006475625,
   1006539076,
   1006602529,
   1006665984,
   1006729441,
   1006792900,
   1006856361,
   1006919824,
   1006983289,
   1007046756,
   1007110225,
   1007173696,
   1007237169,
   1007300644,
   1007364121,
   1007427600,
   1007491081,
   1007554564,
   1007618049,
   1007681536,
   1007745025,
   1007808516,
   1007872009,
   1007935504,
   1007999001,
   1008062500,
   1008126001,
   1008189504,
   1008253009,
   1008316516,
   1008380025,
   1008443536,
   1008507049,
   1008570564,
   1008634081,
   1008697600,
   1008761121,
   1008824644,
   1008888169,
   1008951696,
   1009015225,
   1009078756,
   1009142289,
   1009205824,
   1009269361,
   1009332900,
   1009396441,
   1009459984,
   1009523529,
   1009587076,
   1009650625,
   1009714176,
   1009777729,
   1009841284,
   1009904841,
   1009968400,
   1010031961,
   1010095524,
   1010159089,
   1010222656,
   1010286225,
   1010349796,
   1010413369,
   1010476944,
   1010540521,
   1010604100,
   1010667681,
   1010731264,
   1010794849,
   1010858436,
   1010922025,
   1010985616,
   1011049209,
   1011112804,
   1011176401,
   1011240000,
   1011303601,
   1011367204,
   1011430809,
   1011494416,
   1011558025,
   1011621636,
   1011685249,
   1011748864,
   1011812481,
   1011876100,
   1011939721,
   1012003344,
   1012066969,
   1012130596,
   1012194225,
   1012257856,
   1012321489,
   1012385124,
   1012448761,
   1012512400,
   1012576041,
   1012639684,
   1012703329,
   1012766976,
   1012830625,
   1012894276,
   1012957929,
   1013021584,
   1013085241,
   1013148900,
   1013212561,
   1013276224,
   1013339889,
   1013403556,
   1013467225,
   1013530896,
   1013594569,
   1013658244,
   1013721921,
   1013785600,
   1013849281,
   1013912964,
   1013976649,
   1014040336,
   1014104025,
   1014167716,
   1014231409,
   1014295104,
   1014358801,
   1014422500,
   1014486201,
   1014549904,
   1014613609,
   1014677316,
   1014741025,
   1014804736,
   1014868449,
   1014932164,
   1014995881,
   1015059600,
   1015123321,
   1015187044,
   1015250769,
   1015314496,
   1015378225,
   1015441956,
   1015505689,
   1015569424,
   1015633161,
   1015696900,
   1015760641,
   1015824384,
   1015888129,
   1015951876,
   1016015625,
   1016079376,
   1016143129,
   1016206884,
   1016270641,
   1016334400,
   1016398161,
   1016461924,
   1016525689,
   1016589456,
   1016653225,
   1016716996,
   1016780769,
   1016844544,
   1016908321,
   1016972100,
   1017035881,
   1017099664,
   1017163449,
   1017227236,
   1017291025,
   1017354816,
   1017418609,
   1017482404,
   1017546201,
   1017610000,
   1017673801,
   1017737604,
   1017801409,
   1017865216,
   1017929025,
   1017992836,
   1018056649,
   1018120464,
   1018184281,
   1018248100,
   1018311921,
   1018375744,
   1018439569,
   1018503396,
   1018567225,
   1018631056,
   1018694889,
   1018758724,
   1018822561,
   1018886400,
   1018950241,
   1019014084,
   1019077929,
   1019141776,
   1019205625,
   1019269476,
   1019333329,
   1019397184,
   1019461041,
   1019524900,
   1019588761,
   1019652624,
   1019716489,
   1019780356,
   1019844225,
   1019908096,
   1019971969,
   1020035844,
   1020099721,
   1020163600,
   1020227481,
   1020291364,
   1020355249,
   1020419136,
   1020483025,
   1020546916,
   1020610809,
   1020674704,
   1020738601,
   1020802500,
   1020866401,
   1020930304,
   1020994209,
   1021058116,
   1021122025,
   1021185936,
   1021249849,
   1021313764,
   1021377681,
   1021441600,
   1021505521,
   1021569444,
   1021633369,
   1021697296,
   1021761225,
   1021825156,
   1021889089,
   1021953024,
   1022016961,
   1022080900,
   1022144841,
   1022208784,
   1022272729,
   1022336676,
   1022400625,
   1022464576,
   1022528529,
   1022592484,
   1022656441,
   1022720400,
   1022784361,
   1022848324,
   1022912289,
   1022976256,
   1023040225,
   1023104196,
   1023168169,
   1023232144,
   1023296121,
   1023360100,
   1023424081,
   1023488064,
   1023552049,
   1023616036,
   1023680025,
   1023744016,
   1023808009,
   1023872004,
   1023936001,
   1024000000,
   1024064001,
   1024128004,
   1024192009,
   1024256016,
   1024320025,
   1024384036,
   1024448049,
   1024512064,
   1024576081,
   1024640100,
   1024704121,
   1024768144,
   1024832169,
   1024896196,
   1024960225,
   1025024256,
   1025088289,
   1025152324,
   1025216361,
   1025280400,
   1025344441,
   1025408484,
   1025472529,
   1025536576,
   1025600625,
   1025664676,
   1025728729,
   1025792784,
   1025856841,
   1025920900,
   1025984961,
   1026049024,
   1026113089,
   1026177156,
   1026241225,
   1026305296,
   1026369369,
   1026433444,
   1026497521,
   1026561600,
   1026625681,
   1026689764,
   1026753849,
   1026817936,
   1026882025,
   1026946116,
   1027010209,
   1027074304,
   1027138401,
   1027202500,
   1027266601,
   1027330704,
   1027394809,
   1027458916,
   1027523025,
   1027587136,
   1027651249,
   1027715364,
   1027779481,
   1027843600,
   1027907721,
   1027971844,
   1028035969,
   1028100096,
   1028164225,
   1028228356,
   1028292489,
   1028356624,
   1028420761,
   1028484900,
   1028549041,
   1028613184,
   1028677329,
   1028741476,
   1028805625,
   1028869776,
   1028933929,
   1028998084,
   1029062241,
   1029126400,
   1029190561,
   1029254724,
   1029318889,
   1029383056,
   1029447225,

In [47]:
average = grouped_expanded.map(lambda x: (x[0], sum(x[1])/len(x[1])))
average.collect()

[(8, 47204941.666666664),
 (2, 45.166666666666664),
 (10, 4720705565.0),
 (4, 4675.5),
 (12, 472075391214.1667),
 (6, 471838.0)]

# Read CSV

In [48]:
df_pyspark = spark.read.csv('./datafiles/test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [49]:
df_pyspark.show()

+---------+----+----------+------+
|      _c0| _c1|       _c2|   _c3|
+---------+----+----------+------+
|     Name| Age|Experience|Salary|
|   Thomas|null|         3|  null|
|      Nik|null|         1|   777|
|     Ryan|  27|         6|1000.5|
|Bob Dylan|  24|         3|   750|
|     Alex|  25|      null|   800|
|   Celina|null|        10|  1500|
+---------+----+----------+------+

In [50]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [51]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')
df_pyspark.show()

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/Users/sauravbhattacharyya/Documents/DataScience2022/PySpark/test1.csv.

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Thomas', Age=None, Experience='3', Salary=None),
 Row(Name='Nik', Age=None, Experience='1', Salary='777'),
 Row(Name='Ryan', Age='27', Experience='6', Salary='1000.5')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [ ]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Thomas|null|         3|  null|
|      Nik|null|         1| 777.0|
|     Ryan|  27|         6|1000.5|
|Bob Dylan|  24|         3| 750.0|
|     Alex|  25|      null| 800.0|
|   Celina|null|        10|1500.0|
+---------+----+----------+------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: double (nullable = true)

# Select Column(s)

In [ ]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [ ]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|   Thomas|
|      Nik|
|     Ryan|
|Bob Dylan|
|     Alex|
|   Celina|
+---------+

In [ ]:
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|   Thomas|         3|
|      Nik|         1|
|     Ryan|         6|
|Bob Dylan|         3|
|     Alex|      null|
|   Celina|        10|
+---------+----------+

# Datatype & Describe

In [ ]:
df_pyspark.dtypes

[('Name', 'string'),
 ('Age', 'int'),
 ('Experience', 'int'),
 ('Salary', 'double')]

In [ ]:
df_pyspark.describe().show()

23/08/22 12:26:59 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------+------------------+------------------+------------------+
|summary|  Name|               Age|        Experience|            Salary|
+-------+------+------------------+------------------+------------------+
|  count|     6|                 3|                 5|                 5|
|   mean|  null|25.333333333333332|               4.6|             965.5|
| stddev|  null|1.5275252316519468|3.5071355833500366|314.75307782450676|
|    min|  Alex|                24|                 1|             750.0|
|    max|Thomas|                27|                10|            1500.0|
+-------+------+------------------+------------------+------------------+

# Add Column

In [ ]:
df_pyspark = df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience'] + 2)
df_pyspark.show()

+---------+----+----------+------+------------------------+
|     Name| Age|Experience|Salary|Experience after 2 years|
+---------+----+----------+------+------------------------+
|   Thomas|null|         3|  null|                       5|
|      Nik|null|         1| 777.0|                       3|
|     Ryan|  27|         6|1000.5|                       8|
|Bob Dylan|  24|         3| 750.0|                       5|
|     Alex|  25|      null| 800.0|                    null|
|   Celina|null|        10|1500.0|                      12|
+---------+----+----------+------+------------------------+

# Drop Column

In [ ]:
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [ ]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Thomas|null|         3|  null|
|      Nik|null|         1| 777.0|
|     Ryan|  27|         6|1000.5|
|Bob Dylan|  24|         3| 750.0|
|     Alex|  25|      null| 800.0|
|   Celina|null|        10|1500.0|
+---------+----+----------+------+

# Rename Columns

In [ ]:
df_pyspark.withColumnRenamed('Name', 'Nomre').show()

+---------+----+----------+------+
|    Nomre| Age|Experience|Salary|
+---------+----+----------+------+
|   Thomas|null|         3|  null|
|      Nik|null|         1| 777.0|
|     Ryan|  27|         6|1000.5|
|Bob Dylan|  24|         3| 750.0|
|     Alex|  25|      null| 800.0|
|   Celina|null|        10|1500.0|
+---------+----+----------+------+

# Handle Missing Values

In [ ]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Thomas|null|         3|  null|
|      Nik|null|         1| 777.0|
|     Ryan|  27|         6|1000.5|
|Bob Dylan|  24|         3| 750.0|
|     Alex|  25|      null| 800.0|
|   Celina|null|        10|1500.0|
+---------+----+----------+------+

In [ ]:
df_pyspark.na.drop().show() # By default drop(how="any")

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|     Ryan| 27|         6|1000.5|
|Bob Dylan| 24|         3| 750.0|
+---------+---+----------+------+

In [ ]:
df_pyspark.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Thomas|null|         3|  null|
|      Nik|null|         1| 777.0|
|     Ryan|  27|         6|1000.5|
|Bob Dylan|  24|         3| 750.0|
|     Alex|  25|      null| 800.0|
|   Celina|null|        10|1500.0|
+---------+----+----------+------+

In [ ]:
df_pyspark.na.drop(how="any", thresh=3).show() # At least 3 not null values have to be there

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|      Nik|null|         1| 777.0|
|     Ryan|  27|         6|1000.5|
|Bob Dylan|  24|         3| 750.0|
|     Alex|  25|      null| 800.0|
|   Celina|null|        10|1500.0|
+---------+----+----------+------+

In [ ]:
df_pyspark.na.drop(how="any", subset=['Age']).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|     Ryan| 27|         6|1000.5|
|Bob Dylan| 24|         3| 750.0|
|     Alex| 25|      null| 800.0|
+---------+---+----------+------+

# DF To CSV

In [ ]:
data = [
    (1, 'John', None, 21),
    (2, 'Doe', 2, None)
]
schema = ['id', 'name', 'experience', 'age']
df_pyspark = spark.createDataFrame(data, schema)

In [ ]:
df_pyspark.show()

+---+----+----------+----+
| id|name|experience| age|
+---+----+----------+----+
|  1|John|      null|  21|
|  2| Doe|         2|null|
+---+----+----------+----+

In [ ]:
df_pyspark.write.csv(path='./df_to_csv', header=True, mode="overwrite")

In [ ]:
spark.read.csv('./df_to_csv.csv', header=True).show()

+---+----+----------+----+
| id|name|experience| age|
+---+----+----------+----+
|  1|John|      null|  21|
|  2| Doe|         2|null|
+---+----+----------+----+

In [ ]:
help(df_pyspark.write.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path: str, mode: Optional[str] = None, compression: Optional[str] = None, sep: Optional[str] = None, quote: Optional[str] = None, escape: Optional[str] = None, header: Union[bool, str, NoneType] = None, nullValue: Optional[str] = None, escapeQuotes: Union[bool, str, NoneType] = None, quoteAll: Union[bool, str, NoneType] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, ignoreLeadingWhiteSpace: Union[bool, str, NoneType] = None, ignoreTrailingWhiteSpace: Union[bool, str, NoneType] = None, charToEscapeQuoteEscaping: Optional[str] = None, encoding: Optional[str] = None, emptyValue: Optional[str] = None, lineSep: Optional[str] = None) -> None method of pyspark.sql.readwriter.DataFrameWriter instance
    Saves the content of the :class:`DataFrame` in CSV format at the specified path.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    path : str
        the path in any Hadoop supported file system
    mode : str, optional
        specifies the behavior of the save operation when data already exists.

        * ``append``: Append contents of this :class:`DataFrame` to existing data.
        * ``overwrite``: Overwrite existing data.
        * ``ignore``: Silently ignore this operation if data already exists.
        * ``error`` or ``errorifexists`` (default case): Throw an exception if data already \
            exists.

    Other Parameters
    ----------------
    Extra options
        For the extra options, refer to
        `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
        for the version you use.

        .. # noqa

    Examples
    --------
    Write a DataFrame into a CSV file and read it back.

    >>> import tempfile
    >>> with tempfile.TemporaryDirectory() as d:
    ...     # Write a DataFrame into a CSV file
    ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
    ...     df.write.csv(d, mode="overwrite")
    ...
    ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon'.
    ...     spark.read.schema(df.schema).format("csv").option(
    ...         "nullValue", "Hyukjin Kwon").load(d).show()
    +---+----+
    |age|name|
    +---+----+
    |100|null|
    +---+----+

# JSON to DF

In [ ]:
df_emps = spark.read.json('emps.json')
df_emps.show()

+---+------------+------+
|age|        city|  name|
+---+------------+------+
| 20|    New York|  test|
| 21|     Chicago| test2|
| 22| Los Angeles| test3|
| 23|     Houston| test4|
| 24|Philadelphia| test5|
| 25|     Phoenix| test6|
| 26| San Antonio| test7|
| 27|   San Diego| test8|
| 28|      Dallas| test9|
| 29|    San Jose|test10|
+---+------------+------+

In [ ]:
df_emps.printSchema()

root
 |-- age: string (nullable = true)
 |-- city: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df = spark.read.json(path="emps_multiline.json", multiLine=True).show()

+---+------+-----+
|age|gender| name|
+---+------+-----+
| 20|     F|Jamie|
| 25|     M| Ryan|
+---+------+-----+

In [ ]:
df = spark.read.json(path = ['./datafiles/emps1.json', './datafiles/emps2.json'], multiLine=True)
df.show()

+---+------+-------+
|age|gender|   name|
+---+------+-------+
| 30|     F|Benazir|
| 35|     M|Orlando|
| 20|     F|  Jamie|
| 25|     M|   Ryan|
+---+------+-------+

In [ ]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
spark.read.json(path = '*.json', multiLine=True).show()

+---+--------+------+-----+
|age|    city|gender| name|
+---+--------+------+-----+
| 20|New York|  null| test|
| 20|    null|     F|Jamie|
| 25|    null|     M| Ryan|
+---+--------+------+-----+

In [ ]:
from pyspark.sql.types import * 

schema = StructType().add(field='id', data_type=IntegerType())\
                        .add(field='name', data_type=StringType())\
                        .add(field='gender', data_type=StringType())\
                        .add(field='salary', data_type=IntegerType())

df = spark.read.json(path='new_emp.json', schema=schema)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Saurav|     M|  null|
|  2|Gaurav|     M|  2000|
+---+------+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

# DF to JSON

In [ ]:
df_emps.write.json(path='./datafiles/jsondata/emps_dump', mode='overwrite')

In [ ]:
spark.read.json('./datafiles/jsondata/emps_dump').show()

+---+------------+------+
|age|        city|  name|
+---+------------+------+
| 20|    New York|  test|
| 21|     Chicago| test2|
| 22| Los Angeles| test3|
| 23|     Houston| test4|
| 24|Philadelphia| test5|
| 25|     Phoenix| test6|
| 26| San Antonio| test7|
| 27|   San Diego| test8|
| 28|      Dallas| test9|
| 29|    San Jose|test10|
+---+------------+------+

# Parquet file to DF

In [ ]:
df = spark.read.parquet('./datafiles/large_dataset_sub.parquet')

In [ ]:
df.show()

+------+----------------------------------+---------------------------+-------------+------------+---------------------+--------------------------+--------------------+-----------------------+-------------------------------------------------+----------------+------------------------+--------------------+---------------------------+----------------+-------------------+-------------------------------------+------------------------+--------------------------------+------------------+
|HasTpm|Census_OSInstallLanguageIdentifier|LocaleEnglishNameIdentifier|EngineVersion|UacLuaenable|Census_MDC2FormFactor|Census_IsSecureBootEnabled|    Census_OSVersion|Census_GenuineStateName|Census_InternalPrimaryDisplayResolutionHorizontal|RtpStateBitfield|Census_ActivationChannel|   GeoNameIdentifier|Census_OSUILocaleIdentifier|Census_OSEdition|AVProductsInstalled|Census_FirmwareManufacturerIdentifier|Census_OEMNameIdentifier|Census_SystemVolumeTotalCapacity|Census_OSVersion_0|
+------+----------------------------------+---------------------------+-------------+------------+---------------------+--------------------------+--------------------+-----------------------+-------------------------------------------------+----------------+------------------------+--------------------+---------------------------+----------------+-------------------+-------------------------------------+------------------------+--------------------------------+------------------+
|     1|                           0.04114|                    0.03738|       0.4119|           0|                    1|                         1|             0.02556|                      0|                                           1366.0|               0|                       0|             0.03815|                     0.0423|               2|                1.0|                               0.1317|                  0.1038|                        113858.0|                 0|
|     1|                            0.3562|                     0.2347|       0.4119|           0|                    1|                         0|0.007090000000000002|                      0|                                           1366.0|               0|                       0|              0.1718|                     0.3555|               1|                1.0|                               0.0433|                  0.1038|                        457708.0|                 0|
|     1|                            0.3562|                   0.004917|        0.431|           0|                    1|                         1|              0.0527|                      0|                                           1366.0|               0|                       2|             0.00529|                     0.3555|               1|                2.0|                              0.08966|                 0.10034|                        476102.0|                 0|
|     1|                           0.02843|                    0.02031|        0.431|           0|                    0|                         0|              0.1584|                      0|                                           1920.0|               0|                       1|             0.02072|                    0.02843|               1|                1.0|                               0.3025|                 0.03476|                        236818.0|                 0|
|     1|                             0.116|                    0.03827|       0.4119|           0|                    1|                         1|            0.002586|                      0|                                           1366.0|               0|                       0|             0.03885|                     0.1167|               1|                1.0|                              0.08966|                 0.10034|                        457708.0|                 0|
|     1|                           0.05524|                     0.0505|       0.4119|           0|                    1|                         0|             0.01149|                      0|                                           1360.0|               0|                       0|             0.04752|                     0.0559|               1|                1.0|                             0.010254|                 0.01569|                        592099.0|                 0|
|     1|                          0.005516|       0.005954999999999999|       0.4119|           0|                    1|                         0|               0.039|                      0|                                           1366.0|               0|                       0|             0.00658|       0.005529999999999999|               1|                1.0|                             0.010254|                 0.01569|                        592024.0|                 0|
|     1|                            0.3562|                    0.03842|      0.01055|           0|                    1|                         1|0.007090000000000002|                      0|                                           1366.0|               0|                       0|             0.03867|                     0.3555|               1|                1.0|                               0.3025|                  0.1038|                        451860.0|                 0|
|     1|                           0.05524|                     0.0505|        0.431|           0|                    0|                         0|              0.0527|                      2|                                           1440.0|               0|                       1|             0.04752|                     0.0559|               2|                1.0|                               0.3025|                0.003046|                        475911.0|                 0|
|     1|                           0.02843|                    0.02031|       0.4119|           0|                    0|                         0|             0.02556|                      0|                                           1920.0|               0|                       2|             0.02072|                    0.02843|               0|                1.0|                               0.3025|                 0.01554|                        475553.0|                 0|
|     1|                            0.3562|                     0.2347|        0.431|           0|                    4|                         0|             0.01547|                      0|                                           1280.0|               0|                       0|              0.1718|                     0.3555|               0|                1.0|                             0.001147|                0.001151|                         64734.0|                 0|
|     1|                            0.3562|                     0.2347|        0.431|           0|                    1|                         1|              0.1584|                      0|                                           1366.0|               0|                       0|             0.01451|                     0.3555|               2|                1.0|                                0.138|                  0.1444|                        130262.0|                 0|
|     1|                            0.3562|                    0.01013|        0.431|           0|                    1|                         0|             0.01547|                      0|                                           1366.0|               0|                       0|             0.01284|                     0.3555|               0|                1.0|                                0.138|                  0.1444|                        121252.0|                 0|
|     1|                           0.04846|                      0.042|        0.431|           0|                    4|                         1|              0.1009|                      0|                                           1920.0|               0|                       2|             0.04034|                    0.04892|               1|                1.0|                               0.3025|                  8.1E-5|                         29110.0|                 0|
|     1|                           0.00808|                   0.008125|        0.431|           0|                    0|                         0|              0.0527|                      0|                                           1280.0|               0|                       1|0.008223999999999999|                    0.00811|               1|                1.0|                               0.3025|                 0.01499|                        214061.0|                 0|
|     1|                            0.3562|                     0.2347|        0.431|           0|                    1|                         0|              0.1009|                      0|                                           1366.0|               0|                       2|              0.1718|                     0.3555|               1|                1.0|                              0.10547|                  0.1063|                        211496.0|                 0|
|     1|                           0.02301|                     0.0238|        0.431|           0|                    1|                         0|              0.1584|                      0|                                           1366.0|               0|                       0|             0.02425|                    0.02324|               0|                1.0|                               0.3025|                  4.9E-5|                        121270.0|                 0|
|     1|                           0.02267|                    0.01817|        0.431|           0|                    1|                         1|              0.1584|                      0|                                           1366.0|               0|                       2|             0.01823|                    0.02272|               1|                2.0|                               0.3025|                  0.0943|                        380430.0|                 0|
|     1|                           0.01895|                    0.01933|        0.431|           0|                    1|                         1|               0.019|                      0|                                           1366.0|               0|                       0|             0.01938|                    0.01913|               1|                1.0|                               0.3025|                 0.02275|                        920625.0|                 0|
|     1|                            0.3562|                     0.2347|        0.431|           0|                    1|                         1|             0.03644|                      0|                                           1366.0|               0|                       0|              0.1718|                     0.3555|               1|                1.0|                               0.1317|                  0.1038|                        448033.0|                 0|
+------+----------------------------------+---------------------------+-------------+------------+---------------------+--------------------------+--------------------+-----------------------+-------------------------------------------------+----------------+------------------------+--------------------+---------------------------+----------------+-------------------+-------------------------------------+------------------------+--------------------------------+------------------+
only showing top 20 rows

In [ ]:
print(df.count())

9815

# Df To parquet

In [ ]:
df_emps.show()

+---+------------+------+
|age|        city|  name|
+---+------------+------+
| 20|    New York|  test|
| 21|     Chicago| test2|
| 22| Los Angeles| test3|
| 23|     Houston| test4|
| 24|Philadelphia| test5|
| 25|     Phoenix| test6|
| 26| San Antonio| test7|
| 27|   San Diego| test8|
| 28|      Dallas| test9|
| 29|    San Jose|test10|
+---+------------+------+

In [ ]:
df_emps.printSchema()   
df_emps.write.parquet(path='./datafiles/parquetdata/emps_dump', mode='overwrite')

root
 |-- age: string (nullable = true)
 |-- city: string (nullable = true)
 |-- name: string (nullable = true)

# Metadata
(Data about data)

In [ ]:
data = [
    (1, "Jack", "Male"),
    (2, "Jane", "Female")
]
schema = ['id', 'name', 'gender']

df = spark.createDataFrame(data, schema)
df.show()

+---+----+------+
| id|name|gender|
+---+----+------+
|  1|Jack|  Male|
|  2|Jane|Female|
+---+----+------+

In [ ]:
df.columns, len(df.columns)

(['id', 'name', 'gender'], 3)

In [ ]:
df.count()

2

In [ ]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)

In [ ]:
df.describe().show()

+-------+------------------+----+------+
|summary|                id|name|gender|
+-------+------------------+----+------+
|  count|                 2|   2|     2|
|   mean|               1.5|null|  null|
| stddev|0.7071067811865476|null|  null|
|    min|                 1|Jack|Female|
|    max|                 2|Jane|  Male|
+-------+------------------+----+------+

# Show

In [ ]:
data = [
    (1, 'It has magnets which prevents tangling. Sound good. I am not a music lover but the audio look good enough. Mic is good and good noise canceling. Good for office meeting, calls and so on'),
    (2, 'I bought this for my MacBook Pro. The sound quality is decent and good for daily usage.'),
    (3, 'Good'),
    (4, "If you're considering it for the price , then it is good.")
]
schema = ['id', 'review']   
comments = spark.createDataFrame(data, schema)
comments.show()

+---+--------------------+
| id|              review|
+---+--------------------+
|  1|It has magnets wh...|
|  2|I bought this for...|
|  3|                Good|
|  4|If you're conside...|
+---+--------------------+

In [ ]:
comments.printSchema()

root
 |-- id: long (nullable = true)
 |-- review: string (nullable = true)

In [ ]:
comments.show(truncate=False)

+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id |review                                                                                                                                                                                   |
+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1  |It has magnets which prevents tangling. Sound good. I am not a music lover but the audio look good enough. Mic is good and good noise canceling. Good for office meeting, calls and so on|
|2  |I bought this for my MacBook Pro. The sound quality is decent and good for daily usage.                                                                                                  |
|3  |Good                                                                                                                                                                                     |
|4  |If you're considering it for the price , then it is good.                                                                                                                                |
+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [ ]:
comments.show(truncate=80)

+---+--------------------------------------------------------------------------------+
| id|                                                                          review|
+---+--------------------------------------------------------------------------------+
|  1|It has magnets which prevents tangling. Sound good. I am not a music lover bu...|
|  2|I bought this for my MacBook Pro. The sound quality is decent and good for da...|
|  3|                                                                            Good|
|  4|                       If you're considering it for the price , then it is good.|
+---+--------------------------------------------------------------------------------+

In [ ]:
comments.show(n=2, truncate=False)

+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id |review                                                                                                                                                                                   |
+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1  |It has magnets which prevents tangling. Sound good. I am not a music lover but the audio look good enough. Mic is good and good noise canceling. Good for office meeting, calls and so on|
|2  |I bought this for my MacBook Pro. The sound quality is decent and good for daily usage.                                                                                                  |
+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 2 rows

In [ ]:
comments.show(n=2, truncate=False, vertical=True)

-RECORD 0-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 id     | 1
 review | It has magnets which prevents tangling. Sound good. I am not a music lover but the audio look good enough. Mic is good and good noise canceling. Good for office meeting, calls and so on
-RECORD 1-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 id     | 2
 review | I bought this for my MacBook Pro. The sound quality is decent and good for daily usage.
only showing top 2 rows

# withColumn

In [ ]:
df.show()

+---+----+------+
| id|name|gender|
+---+----+------+
|  1|Jack|  Male|
|  2|Jane|Female|
+---+----+------+

In [ ]:
from pyspark.sql.functions import col , lit  
df = df.withColumn(colName='salary', col = col('id')*100)
df.show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  1|Jack|  Male|   100|
|  2|Jane|Female|   200|
+---+----+------+------+

In [ ]:
df = df.withColumn('home_country', lit('India'))
df.show()

+---+----+------+------+------------+
| id|name|gender|salary|home_country|
+---+----+------+------+------------+
|  1|Jack|  Male|   100|       India|
|  2|Jane|Female|   200|       India|
+---+----+------+------+------------+

# withColumnRenamed

In [ ]:
df.show()

+---+----+------+------+------------+
| id|name|gender|salary|home_country|
+---+----+------+------+------------+
|  1|Jack|  Male|   100|       India|
|  2|Jane|Female|   200|       India|
+---+----+------+------+------------+

In [ ]:
# Dataframes are immutable
df1 = df.withColumnRenamed(existing='home_country', new='country')
df1.show()

+---+----+------+------+-------+
| id|name|gender|salary|country|
+---+----+------+------+-------+
|  1|Jack|  Male|   100|  India|
|  2|Jane|Female|   200|  India|
+---+----+------+------+-------+

# StructType and StructField

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data = [
    (1, 'virat', 2000, 33),
    (2, 'anushka', 3000, 32),
    (3, 'sachin', 10000, 45),
    (4, 'anjali', 5000, 40),
    (5, 'dhoni', 8000, 38)
]
# schema = ['id', 'name', 'salary', 'age']
schema = StructType(
    [
        StructField('id', IntegerType()),
        StructField('name', StringType()),
        StructField('salary', IntegerType()),
        StructField('age', IntegerType())
    ]
)
df = spark.createDataFrame(data, schema)
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)

In [ ]:
data = [
    (1, ('Virat', 'Kohli'), 5000, 33),
    (2, ('Anushka', 'Sharma'), 4000, 32),
    (3, ('Sachin', 'Tendulkar'), 10000, 45),
    (4, ('Anjali', 'Tendulkar'), 5000, 40),
    (5, ('MS', 'Dhoni'), 8000, 38)
]

structName = StructType([
    StructField('firstname', StringType()),
    StructField('lastname', StringType())
])

schema = StructType([
    StructField('id', IntegerType()),
    StructField('name', structName),
    StructField('salary', IntegerType()),
    StructField('age', IntegerType())
])

df = spark.createDataFrame(data, schema)
df.show()

+---+-------------------+------+---+
| id|               name|salary|age|
+---+-------------------+------+---+
|  1|     {Virat, Kohli}|  5000| 33|
|  2|  {Anushka, Sharma}|  4000| 32|
|  3|{Sachin, Tendulkar}| 10000| 45|
|  4|{Anjali, Tendulkar}|  5000| 40|
|  5|        {MS, Dhoni}|  8000| 38|
+---+-------------------+------+---+

# ArrayType, array, array_contains

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType

data = [
    ('alpha', [1, 2, 3]),
    ('beta', [4, 5, 6]),
    ('gamma', [7, 8, 9])
]
schema = ['tag', 'values']
df = spark.createDataFrame(data, schema)
df.show()

+-----+---------+
|  tag|   values|
+-----+---------+
|alpha|[1, 2, 3]|
| beta|[4, 5, 6]|
|gamma|[7, 8, 9]|
+-----+---------+

In [ ]:
df.printSchema()

root
 |-- tag: string (nullable = true)
 |-- values: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [ ]:
data = [
    ('alpha', [1, 2, 3]),
    ('beta', [4, 5, 6]),
    ('gamma', [7, 8, 9])
]
schema = StructType([
    StructField('tag2', StringType()),
    StructField('values2', ArrayType(IntegerType()))
])

df2 = spark.createDataFrame(data, schema)
df2.show()
df2.printSchema()

+-----+---------+
| tag2|  values2|
+-----+---------+
|alpha|[1, 2, 3]|
| beta|[4, 5, 6]|
|gamma|[7, 8, 9]|
+-----+---------+

root
 |-- tag2: string (nullable = true)
 |-- values2: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [ ]:
from pyspark.sql.functions import col, array 
df2 = df2.withColumn('first_elem', col('values2')[0])
df2 = df2.withColumn('second_elem', col('values2')[1])
df2 = df2.withColumn('third_elem', col('values2')[2])
df2 = df2.withColumn('derived_elem',\
                      df2['values2'][0]*1 + df2['values2'][1]*2 + df2['values2'][2]*3 ) 
                        # 1*Elem_1 + 2 * Elem_2 + 3 * Elem_3
df2 = df2.withColumn('sliced', array(col('values2')[0], col('values2')[2]))
df2.show()

+-----+---------+----------+-----------+----------+------------+------+
| tag2|  values2|first_elem|second_elem|third_elem|derived_elem|sliced|
+-----+---------+----------+-----------+----------+------------+------+
|alpha|[1, 2, 3]|         1|          2|         3|          14|[1, 3]|
| beta|[4, 5, 6]|         4|          5|         6|          32|[4, 6]|
|gamma|[7, 8, 9]|         7|          8|         9|          50|[7, 9]|
+-----+---------+----------+-----------+----------+------------+------+

In [ ]:
from pyspark.sql.functions import col, array 
data = [
    (1, 2),
    (3, 4)
]
schema = ['num1', 'num2']
df1 = spark.createDataFrame(data, schema)
df1 = df1.withColumn('numbers', array(col('num1'), col('num2')))

df1.show()
df1.printSchema()

+----+----+-------+
|num1|num2|numbers|
+----+----+-------+
|   1|   2| [1, 2]|
|   3|   4| [3, 4]|
+----+----+-------+

root
 |-- num1: long (nullable = true)
 |-- num2: long (nullable = true)
 |-- numbers: array (nullable = false)
 |    |-- element: long (containsNull = true)

In [ ]:
from pyspark.sql.functions import array_contains

df1 = df1.withColumn('contains_1', array_contains(col('numbers'), 3))   
df1.show()

+----+----+-------+----------+
|num1|num2|numbers|contains_1|
+----+----+-------+----------+
|   1|   2| [1, 2]|     false|
|   3|   4| [3, 4]|      true|
+----+----+-------+----------+

# explode, split

In [ ]:
data = [
    (1, 'stanford', ['microbiology', 'statistics', 'economics']),
    (2, 'berkeley', ['computer science', 'economics', 'linguistics']),
    (3, 'mit', ['computer science', 'linguistics', 'economics']),
    (4, 'harvard', ['linguistics', 'statistics', 'computer science', 'sanskrit'])
]
schema = ['id', 'university', 'departments']
df = spark.createDataFrame(data, schema)
df.show(truncate=False)

+---+----------+-----------------------------------------------------+
|id |university|departments                                          |
+---+----------+-----------------------------------------------------+
|1  |stanford  |[microbiology, statistics, economics]                |
|2  |berkeley  |[computer science, economics, linguistics]           |
|3  |mit       |[computer science, linguistics, economics]           |
|4  |harvard   |[linguistics, statistics, computer science, sanskrit]|
+---+----------+-----------------------------------------------------+

In [ ]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- university: string (nullable = true)
 |-- departments: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [ ]:
from pyspark.sql.functions import explode, split
df.show(truncate=False)  
df = df.withColumn('dept', explode(col('departments')))
df.show(truncate=False)

+---+----------+-----------------------------------------------------+
|id |university|departments                                          |
+---+----------+-----------------------------------------------------+
|1  |stanford  |[microbiology, statistics, economics]                |
|2  |berkeley  |[computer science, economics, linguistics]           |
|3  |mit       |[computer science, linguistics, economics]           |
|4  |harvard   |[linguistics, statistics, computer science, sanskrit]|
+---+----------+-----------------------------------------------------+

+---+----------+-----------------------------------------------------+----------------+
|id |university|departments                                          |dept            |
+---+----------+-----------------------------------------------------+----------------+
|1  |stanford  |[microbiology, statistics, economics]                |microbiology    |
|1  |stanford  |[microbiology, statistics, economics]                |statistics      |
|1  |stanford  |[microbiology, statistics, economics]                |economics       |
|2  |berkeley  |[computer science, economics, linguistics]           |computer science|
|2  |berkeley  |[computer science, economics, linguistics]           |economics       |
|2  |berkeley  |[computer science, economics, linguistics]           |linguistics     |
|3  |mit       |[computer science, linguistics, economics]           |computer science|
|3  |mit       |[computer science, linguistics, economics]           |linguistics     |
|3  |mit       |[computer science, linguistics, economics]           |economics       |
|4  |harvard   |[linguistics, statistics, computer science, sanskrit]|linguistics     |
|4  |harvard   |[linguistics, statistics, computer science, sanskrit]|statistics      |
|4  |harvard   |[linguistics, statistics, computer science, sanskrit]|computer science|
|4  |harvard   |[linguistics, statistics, computer science, sanskrit]|sanskrit        |
+---+----------+-----------------------------------------------------+----------------+

In [ ]:
'+91-647-671-5643'.split('-', 1)

['+91', '647-671-5643']

In [ ]:
data = [
    (1, 'Rayan', '+1-647-671-5643'),
    (2, 'Bhuvan', '+91-987-654-3210'),
    (3, 'Rahul', '+91-987-654-3210'),
    (4, 'George', '+81-987-654-3210'),
    (5, 'Jennifer', '32-987-654-3210')
]
schema = ['id', 'name', 'phone']
df = spark.createDataFrame(data, schema)
df = df.withColumn('phone_split', split(df['phone'], '-',2))
df = df.withColumn('country_code', df['phone_split'][0])
df = df.withColumn('cell_no', df['phone_split'][1])
df.show(truncate=False)

+---+--------+----------------+-------------------+------------+------------+
|id |name    |phone           |phone_split        |country_code|cell_no     |
+---+--------+----------------+-------------------+------------+------------+
|1  |Rayan   |+1-647-671-5643 |[+1, 647-671-5643] |+1          |647-671-5643|
|2  |Bhuvan  |+91-987-654-3210|[+91, 987-654-3210]|+91         |987-654-3210|
|3  |Rahul   |+91-987-654-3210|[+91, 987-654-3210]|+91         |987-654-3210|
|4  |George  |+81-987-654-3210|[+81, 987-654-3210]|+81         |987-654-3210|
|5  |Jennifer|32-987-654-3210 |[32, 987-654-3210] |32          |987-654-3210|
+---+--------+----------------+-------------------+------------+------------+

In [ ]:
fruits = ['Apple', 'Guava', 'Mango', 'Banana', 'Orange']
'Apple' in fruits

True

# MapType

In [ ]:
data = [
    (1, 'India', {'capital': 'New Delhi', 'currency': 'INR'}),
    (2, 'USA', {'capital': 'Washington DC', 'currency': 'USD'}),
    (3, 'Japan', {'capital': 'Tokyo', 'currency': 'JPY'}),
    (4, 'Germany', {'capital': 'Berlin', 'currency': 'EUR'})
]
schema = ['id', 'country', 'details']
df = spark.createDataFrame(data, schema)
df.show(truncate=False)

+---+-------+-------------------------------------------+
|id |country|details                                    |
+---+-------+-------------------------------------------+
|1  |India  |{capital -> New Delhi, currency -> INR}    |
|2  |USA    |{capital -> Washington DC, currency -> USD}|
|3  |Japan  |{capital -> Tokyo, currency -> JPY}        |
|4  |Germany|{capital -> Berlin, currency -> EUR}       |
+---+-------+-------------------------------------------+

In [ ]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- country: string (nullable = true)
 |-- details: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [ ]:
from pyspark.sql.types import MapType, StringType, StructField, StructType, IntegerType
data = [
    (1, 'India', {'capital': 'New Delhi', 'currency': 'INR'}),
    (2, 'USA', {'capital': 'Washington DC', 'currency': 'USD'}),
    (3, 'Japan', {'capital': 'Tokyo', 'currency': 'JPY'}),
    (4, 'Germany', {'capital': 'Berlin', 'currency': 'EUR'})
]
schema = StructType(
    [
        StructField('id', IntegerType()),
        StructField('country', StringType()),
        StructField('details', MapType(StringType(), StringType()))
    ]
)
countries = spark.createDataFrame(data, schema)
countries.show(truncate=False)

+---+-------+-------------------------------------------+
|id |country|details                                    |
+---+-------+-------------------------------------------+
|1  |India  |{capital -> New Delhi, currency -> INR}    |
|2  |USA    |{capital -> Washington DC, currency -> USD}|
|3  |Japan  |{capital -> Tokyo, currency -> JPY}        |
|4  |Germany|{capital -> Berlin, currency -> EUR}       |
+---+-------+-------------------------------------------+

In [ ]:
countries.printSchema()

root
 |-- id: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- details: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [ ]:
countries = countries.withColumn('currency', countries['details']['currency'])
countries.show(truncate=False)

+---+-------+-------------------------------------------+--------+
|id |country|details                                    |currency|
+---+-------+-------------------------------------------+--------+
|1  |India  |{capital -> New Delhi, currency -> INR}    |INR     |
|2  |USA    |{capital -> Washington DC, currency -> USD}|USD     |
|3  |Japan  |{capital -> Tokyo, currency -> JPY}        |JPY     |
|4  |Germany|{capital -> Berlin, currency -> EUR}       |EUR     |
+---+-------+-------------------------------------------+--------+

In [ ]:
countries = countries.withColumn('capital', countries.details['capital'])
countries.show(truncate=False)

+---+-------+-------------------------------------------+--------+-------------+
|id |country|details                                    |currency|capital      |
+---+-------+-------------------------------------------+--------+-------------+
|1  |India  |{capital -> New Delhi, currency -> INR}    |INR     |New Delhi    |
|2  |USA    |{capital -> Washington DC, currency -> USD}|USD     |Washington DC|
|3  |Japan  |{capital -> Tokyo, currency -> JPY}        |JPY     |Tokyo        |
|4  |Germany|{capital -> Berlin, currency -> EUR}       |EUR     |Berlin       |
+---+-------+-------------------------------------------+--------+-------------+

# map_keys, map_values, explode

In [ ]:
from pyspark.sql.functions import explode
c = countries.select('country', 'details', explode(countries.details))
c.show(truncate=False)

+-------+-------------------------------------------+--------+-------------+
|country|details                                    |key     |value        |
+-------+-------------------------------------------+--------+-------------+
|India  |{capital -> New Delhi, currency -> INR}    |capital |New Delhi    |
|India  |{capital -> New Delhi, currency -> INR}    |currency|INR          |
|USA    |{capital -> Washington DC, currency -> USD}|capital |Washington DC|
|USA    |{capital -> Washington DC, currency -> USD}|currency|USD          |
|Japan  |{capital -> Tokyo, currency -> JPY}        |capital |Tokyo        |
|Japan  |{capital -> Tokyo, currency -> JPY}        |currency|JPY          |
|Germany|{capital -> Berlin, currency -> EUR}       |capital |Berlin       |
|Germany|{capital -> Berlin, currency -> EUR}       |currency|EUR          |
+-------+-------------------------------------------+--------+-------------+

In [ ]:
from pyspark.sql.functions import map_values, map_keys 
c1 = countries.withColumn('All_keys', map_keys(countries.details))
c1.show(truncate=False)

+---+-------+-------------------------------------------+--------+-------------+-------------------+
|id |country|details                                    |currency|capital      |All_keys           |
+---+-------+-------------------------------------------+--------+-------------+-------------------+
|1  |India  |{capital -> New Delhi, currency -> INR}    |INR     |New Delhi    |[capital, currency]|
|2  |USA    |{capital -> Washington DC, currency -> USD}|USD     |Washington DC|[capital, currency]|
|3  |Japan  |{capital -> Tokyo, currency -> JPY}        |JPY     |Tokyo        |[capital, currency]|
|4  |Germany|{capital -> Berlin, currency -> EUR}       |EUR     |Berlin       |[capital, currency]|
+---+-------+-------------------------------------------+--------+-------------+-------------------+

In [ ]:
from pyspark.sql.functions import map_values, map_keys 
c2 = countries.withColumn('All_values', map_values(countries.details))
c2.show(truncate=False)

+---+-------+-------------------------------------------+--------+-------------+--------------------+
|id |country|details                                    |currency|capital      |All_values          |
+---+-------+-------------------------------------------+--------+-------------+--------------------+
|1  |India  |{capital -> New Delhi, currency -> INR}    |INR     |New Delhi    |[New Delhi, INR]    |
|2  |USA    |{capital -> Washington DC, currency -> USD}|USD     |Washington DC|[Washington DC, USD]|
|3  |Japan  |{capital -> Tokyo, currency -> JPY}        |JPY     |Tokyo        |[Tokyo, JPY]        |
|4  |Germany|{capital -> Berlin, currency -> EUR}       |EUR     |Berlin       |[Berlin, EUR]       |
+---+-------+-------------------------------------------+--------+-------------+--------------------+

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
d.keys(), d.values(), d.items()

(dict_keys(['a', 'b', 'c']),
 dict_values([1, 2, 3]),
 dict_items([('a', 1), ('b', 2), ('c', 3)]))

# Row() class

In [ ]:
from pyspark.sql import Row 
row = Row(name = "Sachin", location = "Mumbai", age = 45)
print(row.name, row.location, row.age)  

row1 = Row(name = "Sachin", location = "Mumbai", age = 45)
row2 = Row(name = "Virat", location = "Delhi", age = 33)
row3 = Row(name = "Dhoni", location = "Ranchi", age = 38)
data = [row1, row2, row3]

df = spark.createDataFrame(data)
df.show()
df.printSchema()

Sachin Mumbai 45
+------+--------+---+
|  name|location|age|
+------+--------+---+
|Sachin|  Mumbai| 45|
| Virat|   Delhi| 33|
| Dhoni|  Ranchi| 38|
+------+--------+---+

root
 |-- name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- age: long (nullable = true)

In [ ]:
institution = Row('name', 'location', 'age')
i1 = institution('Harvard', 'USA', 100)
i2 = institution('IIT', 'India', 60)
i3 = institution('MIT', 'USA', 150)
data = [i1, i2, i3]
df = spark.createDataFrame(data)
df.show()

+-------+--------+---+
|   name|location|age|
+-------+--------+---+
|Harvard|     USA|100|
|    IIT|   India| 60|
|    MIT|     USA|150|
+-------+--------+---+

In [ ]:
data = [
    Row(name = "Modi", prop = Row(age = 70, height = 5.7)),
    Row(name = "Trump", prop = Row(age = 75, height = 6.1)),
    Row(name = "Biden", prop = Row(age = 78, height = 5.11))
]
df = spark.createDataFrame(data)
df.show()

+-----+----------+
| name|      prop|
+-----+----------+
| Modi| {70, 5.7}|
|Trump| {75, 6.1}|
|Biden|{78, 5.11}|
+-----+----------+

In [ ]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- age: long (nullable = true)
 |    |-- height: double (nullable = true)

# Column class

In [ ]:
from pyspark.sql.functions import col, lit

col1 = lit('Qwerty')

print(type(col1))

<class 'pyspark.sql.column.Column'>

In [ ]:
data = [
    (1, 'Virat', 2000, 33),
    (2, 'Anushka', 3000, 32),
    (3, 'Sachin', 10000, 45),
    (4, 'Anjali', 5000, 40),
    (5, 'Dhoni', 8000, 38)
]
schema = ['id', 'name', 'salary', 'age']
df = spark.createDataFrame(data, schema)
df.show()

+---+-------+------+---+
| id|   name|salary|age|
+---+-------+------+---+
|  1|  Virat|  2000| 33|
|  2|Anushka|  3000| 32|
|  3| Sachin| 10000| 45|
|  4| Anjali|  5000| 40|
|  5|  Dhoni|  8000| 38|
+---+-------+------+---+

In [ ]:
df = df.withColumn('new_col', lit('India'))
df.show()

+---+-------+------+---+-------+
| id|   name|salary|age|new_col|
+---+-------+------+---+-------+
|  1|  Virat|  2000| 33|  India|
|  2|Anushka|  3000| 32|  India|
|  3| Sachin| 10000| 45|  India|
|  4| Anjali|  5000| 40|  India|
|  5|  Dhoni|  8000| 38|  India|
+---+-------+------+---+-------+

# Select

In [ ]:
df.select(df['name']).show()

+-------+
|   name|
+-------+
|  Virat|
|Anushka|
| Sachin|
| Anjali|
|  Dhoni|
+-------+

In [ ]:
df.select(col('name')).show()

+-------+
|   name|
+-------+
|  Virat|
|Anushka|
| Sachin|
| Anjali|
|  Dhoni|
+-------+

In [ ]:
df.select(df.name).show()

+-------+
|   name|
+-------+
|  Virat|
|Anushka|
| Sachin|
| Anjali|
|  Dhoni|
+-------+

In [ ]:
data = [
    Row(name = "Modi", prop = Row(age = 70, height = 5.7)),
    Row(name = "Trump", prop = Row(age = 75, height = 6.1)),
    Row(name = "Biden", prop = Row(age = 78, height = 5.11))
]
df = spark.createDataFrame(data)
df.show()

+-----+----------+
| name|      prop|
+-----+----------+
| Modi| {70, 5.7}|
|Trump| {75, 6.1}|
|Biden|{78, 5.11}|
+-----+----------+

In [ ]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- age: long (nullable = true)
 |    |-- height: double (nullable = true)

In [ ]:
df.select(df.prop.age).show()
df.select(df['prop.age']).show()
df.select(col('prop.age')).show()

+--------+
|prop.age|
+--------+
|      70|
|      75|
|      78|
+--------+

+---+
|age|
+---+
| 70|
| 75|
| 78|
+---+

+---+
|age|
+---+
| 70|
| 75|
| 78|
+---+

# when() and otherwise()

In [ ]:
data = [
    (1, "West Bengal", "Kolkata", "Jute", "Non-Consumable"),
    (2, "Maharashtra", "Mumbai", "Rice", "Consumable"),
    (3, "Karnataka", "Bangalore", "Silk", "Non-Consumable"),
    (4, "Tamil Nadu", "Chennai", "Cotton", "Non-Consumable"),
    (5, "Uttar Pradesh", "Lucknow", "Wheat", "Consumable")
]
schema = ['id', 'state', 'capital', 'product', 'type']
df = spark.createDataFrame(data, schema)
df.show()

+---+-------------+---------+-------+--------------+
| id|        state|  capital|product|          type|
+---+-------------+---------+-------+--------------+
|  1|  West Bengal|  Kolkata|   Jute|Non-Consumable|
|  2|  Maharashtra|   Mumbai|   Rice|    Consumable|
|  3|    Karnataka|Bangalore|   Silk|Non-Consumable|
|  4|   Tamil Nadu|  Chennai| Cotton|Non-Consumable|
|  5|Uttar Pradesh|  Lucknow|  Wheat|    Consumable|
+---+-------------+---------+-------+--------------+

In [ ]:
from pyspark.sql.functions import when

df1 = df.select('id', 'state', 'capital', 'product', 'type', \
                when(df.type == 'Consumable', 'Food')\
                    .otherwise('Clothes')\
                        .alias('category'))
df1.show()

+---+-------------+---------+-------+--------------+--------+
| id|        state|  capital|product|          type|category|
+---+-------------+---------+-------+--------------+--------+
|  1|  West Bengal|  Kolkata|   Jute|Non-Consumable| Clothes|
|  2|  Maharashtra|   Mumbai|   Rice|    Consumable|    Food|
|  3|    Karnataka|Bangalore|   Silk|Non-Consumable| Clothes|
|  4|   Tamil Nadu|  Chennai| Cotton|Non-Consumable| Clothes|
|  5|Uttar Pradesh|  Lucknow|  Wheat|    Consumable|    Food|
+---+-------------+---------+-------+--------------+--------+

# alias, asc, desc, cast, like

In [ ]:
df.select('state', 'capital',  df.product.alias('agri_product')).show()

+-------------+---------+------------+
|        state|  capital|agri_product|
+-------------+---------+------------+
|  West Bengal|  Kolkata|        Jute|
|  Maharashtra|   Mumbai|        Rice|
|    Karnataka|Bangalore|        Silk|
|   Tamil Nadu|  Chennai|      Cotton|
|Uttar Pradesh|  Lucknow|       Wheat|
+-------------+---------+------------+

In [ ]:
df.select(df.state.alias('Indian State')).show()

+-------------+
| Indian State|
+-------------+
|  West Bengal|
|  Maharashtra|
|    Karnataka|
|   Tamil Nadu|
|Uttar Pradesh|
+-------------+

In [ ]:
df.sort(df.product).show()

+---+-------------+---------+-------+--------------+
| id|        state|  capital|product|          type|
+---+-------------+---------+-------+--------------+
|  4|   Tamil Nadu|  Chennai| Cotton|Non-Consumable|
|  1|  West Bengal|  Kolkata|   Jute|Non-Consumable|
|  2|  Maharashtra|   Mumbai|   Rice|    Consumable|
|  3|    Karnataka|Bangalore|   Silk|Non-Consumable|
|  5|Uttar Pradesh|  Lucknow|  Wheat|    Consumable|
+---+-------------+---------+-------+--------------+

In [ ]:
df.sort(df.product.asc()).show()

+---+-------------+---------+-------+--------------+
| id|        state|  capital|product|          type|
+---+-------------+---------+-------+--------------+
|  4|   Tamil Nadu|  Chennai| Cotton|Non-Consumable|
|  1|  West Bengal|  Kolkata|   Jute|Non-Consumable|
|  2|  Maharashtra|   Mumbai|   Rice|    Consumable|
|  3|    Karnataka|Bangalore|   Silk|Non-Consumable|
|  5|Uttar Pradesh|  Lucknow|  Wheat|    Consumable|
+---+-------------+---------+-------+--------------+

In [ ]:
df.sort(df.product.desc()).show()

+---+-------------+---------+-------+--------------+
| id|        state|  capital|product|          type|
+---+-------------+---------+-------+--------------+
|  5|Uttar Pradesh|  Lucknow|  Wheat|    Consumable|
|  3|    Karnataka|Bangalore|   Silk|Non-Consumable|
|  2|  Maharashtra|   Mumbai|   Rice|    Consumable|
|  1|  West Bengal|  Kolkata|   Jute|Non-Consumable|
|  4|   Tamil Nadu|  Chennai| Cotton|Non-Consumable|
+---+-------------+---------+-------+--------------+

In [ ]:
df.sort(df.type, df.product.desc()).show()

+---+-------------+---------+-------+--------------+
| id|        state|  capital|product|          type|
+---+-------------+---------+-------+--------------+
|  5|Uttar Pradesh|  Lucknow|  Wheat|    Consumable|
|  2|  Maharashtra|   Mumbai|   Rice|    Consumable|
|  3|    Karnataka|Bangalore|   Silk|Non-Consumable|
|  1|  West Bengal|  Kolkata|   Jute|Non-Consumable|
|  4|   Tamil Nadu|  Chennai| Cotton|Non-Consumable|
+---+-------------+---------+-------+--------------+

In [ ]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- state: string (nullable = true)
 |-- capital: string (nullable = true)
 |-- product: string (nullable = true)
 |-- type: string (nullable = true)

In [ ]:
df1 = df.select(df.id.cast('int'), df.state, df.capital)
df1.show()
df1.printSchema()

+---+-------------+---------+
| id|        state|  capital|
+---+-------------+---------+
|  1|  West Bengal|  Kolkata|
|  2|  Maharashtra|   Mumbai|
|  3|    Karnataka|Bangalore|
|  4|   Tamil Nadu|  Chennai|
|  5|Uttar Pradesh|  Lucknow|
+---+-------------+---------+

root
 |-- id: integer (nullable = true)
 |-- state: string (nullable = true)
 |-- capital: string (nullable = true)

In [ ]:
data = [
    (1, 'Alfred', 'M', 1000, None),
    (2, 'Alice', 'F', 2000, 'NY'),
    (3, 'Bob', 'M', 3000, 'CA'),
    (4, 'Charlie', 'M', 4000, 'TX'),
    (5, 'David', 'M', 5000, None),
    (6, 'Ella', None , 6000, 'NY'),
    (7, 'Frank', 'M', 7000, 'TX'),
    (8, 'Gina', 'F', 8000, None),
    (9, 'Henry', None , 9000, 'NY'),
    (10, 'Ina', None , 10000, 'TX')
]
schema = ['id', 'Name', 'Gender', 'Salary', 'State']    
df = spark.createDataFrame(data, schema)
df.show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  1| Alfred|     M|  1000| null|
|  2|  Alice|     F|  2000|   NY|
|  3|    Bob|     M|  3000|   CA|
|  4|Charlie|     M|  4000|   TX|
|  5|  David|     M|  5000| null|
|  6|   Ella|  null|  6000|   NY|
|  7|  Frank|     M|  7000|   TX|
|  8|   Gina|     F|  8000| null|
|  9|  Henry|  null|  9000|   NY|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.sort(df.State.desc()).show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
| 10|    Ina|  null| 10000|   TX|
|  7|  Frank|     M|  7000|   TX|
|  4|Charlie|     M|  4000|   TX|
|  6|   Ella|  null|  6000|   NY|
|  2|  Alice|     F|  2000|   NY|
|  9|  Henry|  null|  9000|   NY|
|  3|    Bob|     M|  3000|   CA|
|  8|   Gina|     F|  8000| null|
|  5|  David|     M|  5000| null|
|  1| Alfred|     M|  1000| null|
+---+-------+------+------+-----+

In [ ]:
df.sort(df.State.asc_nulls_last()).show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  3|    Bob|     M|  3000|   CA|
|  2|  Alice|     F|  2000|   NY|
|  6|   Ella|  null|  6000|   NY|
|  9|  Henry|  null|  9000|   NY|
|  4|Charlie|     M|  4000|   TX|
|  7|  Frank|     M|  7000|   TX|
| 10|    Ina|  null| 10000|   TX|
|  5|  David|     M|  5000| null|
|  8|   Gina|     F|  8000| null|
|  1| Alfred|     M|  1000| null|
+---+-------+------+------+-----+

In [ ]:
df.filter(df.Name.like('%a%')).show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  4|Charlie|     M|  4000|   TX|
|  5|  David|     M|  5000| null|
|  6|   Ella|  null|  6000|   NY|
|  7|  Frank|     M|  7000|   TX|
|  8|   Gina|     F|  8000| null|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

# filter and where

In [ ]:
df.filter(df.State == 'TX').show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  4|Charlie|     M|  4000|   TX|
|  7|  Frank|     M|  7000|   TX|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.filter("State == 'TX'").show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  4|Charlie|     M|  4000|   TX|
|  7|  Frank|     M|  7000|   TX|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.where("state = 'TX'").show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  4|Charlie|     M|  4000|   TX|
|  7|  Frank|     M|  7000|   TX|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.where((df.State == 'TX') & (df.Salary == 4000)).show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  4|Charlie|     M|  4000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.where("state = 'TX' and salary=4000").show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  4|Charlie|     M|  4000|   TX|
+---+-------+------+------+-----+

In [ ]:
a, b = 1, 2
a == 1 or b == 3

True

In [ ]:
(a == 1) & (b == 3)

False

# distinct() and dropDuplicate()

In [ ]:
data = [
    (1, 'Alfred', 'M', 1000, None),
    (2, 'Alice', 'F', 2000, 'NY'),
    (3, 'Bob', 'M', 3000, 'CA'),
    (4, 'Charlie', 'M', 4000, 'TX'),
    (5, 'David', 'M', 5000, None),
    (6, 'Ella', None , 6000, 'NY'),
    (7, 'Frank', 'M', 7000, 'TX'),
    (8, 'Gina', 'F', 8000, None),
    (2, 'Alice', 'F', 3000, 'NY'),
    (9, 'Henry', None , 9000, 'NY'),
    (5, 'David', 'M', 5000, None),
    (10, 'Ina', None , 10000, 'TX')
]
schema = ['id', 'Name', 'Gender', 'Salary', 'State']    
df = spark.createDataFrame(data, schema)
df.show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  1| Alfred|     M|  1000| null|
|  2|  Alice|     F|  2000|   NY|
|  3|    Bob|     M|  3000|   CA|
|  4|Charlie|     M|  4000|   TX|
|  5|  David|     M|  5000| null|
|  6|   Ella|  null|  6000|   NY|
|  7|  Frank|     M|  7000|   TX|
|  8|   Gina|     F|  8000| null|
|  2|  Alice|     F|  3000|   NY|
|  9|  Henry|  null|  9000|   NY|
|  5|  David|     M|  5000| null|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.distinct().show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  1| Alfred|     M|  1000| null|
|  2|  Alice|     F|  2000|   NY|
|  3|    Bob|     M|  3000|   CA|
|  4|Charlie|     M|  4000|   TX|
|  5|  David|     M|  5000| null|
|  6|   Ella|  null|  6000|   NY|
|  7|  Frank|     M|  7000|   TX|
|  8|   Gina|     F|  8000| null|
|  2|  Alice|     F|  3000|   NY|
|  9|  Henry|  null|  9000|   NY|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.dropDuplicates().show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  1| Alfred|     M|  1000| null|
|  2|  Alice|     F|  2000|   NY|
|  3|    Bob|     M|  3000|   CA|
|  4|Charlie|     M|  4000|   TX|
|  5|  David|     M|  5000| null|
|  6|   Ella|  null|  6000|   NY|
|  7|  Frank|     M|  7000|   TX|
|  8|   Gina|     F|  8000| null|
|  2|  Alice|     F|  3000|   NY|
|  9|  Henry|  null|  9000|   NY|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.dropDuplicates(['id', 'Name']).show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  1| Alfred|     M|  1000| null|
|  2|  Alice|     F|  2000|   NY|
|  3|    Bob|     M|  3000|   CA|
|  4|Charlie|     M|  4000|   TX|
|  5|  David|     M|  5000| null|
|  6|   Ella|  null|  6000|   NY|
|  7|  Frank|     M|  7000|   TX|
|  8|   Gina|     F|  8000| null|
|  9|  Henry|  null|  9000|   NY|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

# orderBy() and sort()

In [ ]:
df.sort('State').show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  5|  David|     M|  5000| null|
|  5|  David|     M|  5000| null|
|  8|   Gina|     F|  8000| null|
|  1| Alfred|     M|  1000| null|
|  3|    Bob|     M|  3000|   CA|
|  6|   Ella|  null|  6000|   NY|
|  2|  Alice|     F|  3000|   NY|
|  9|  Henry|  null|  9000|   NY|
|  2|  Alice|     F|  2000|   NY|
|  7|  Frank|     M|  7000|   TX|
|  4|Charlie|     M|  4000|   TX|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
df.orderBy(df.State.desc(), df.Name).show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  4|Charlie|     M|  4000|   TX|
|  7|  Frank|     M|  7000|   TX|
| 10|    Ina|  null| 10000|   TX|
|  2|  Alice|     F|  2000|   NY|
|  2|  Alice|     F|  3000|   NY|
|  6|   Ella|  null|  6000|   NY|
|  9|  Henry|  null|  9000|   NY|
|  3|    Bob|     M|  3000|   CA|
|  1| Alfred|     M|  1000| null|
|  5|  David|     M|  5000| null|
|  5|  David|     M|  5000| null|
|  8|   Gina|     F|  8000| null|
+---+-------+------+------+-----+

# limit

In [ ]:
df.limit(2).show()

+---+------+------+------+-----+
| id|  Name|Gender|Salary|State|
+---+------+------+------+-----+
|  1|Alfred|     M|  1000| null|
|  2| Alice|     F|  2000|   NY|
+---+------+------+------+-----+

In [ ]:
df.select('id', 'Salary').limit(5).show()

+---+------+
| id|Salary|
+---+------+
|  1|  1000|
|  2|  2000|
|  3|  3000|
|  4|  4000|
|  5|  5000|
+---+------+

# Union and UnionAll

In [ ]:
data1 = [
    (1, 'Virat', 'Male'),
    (2, 'Rohit', 'Male'),
    (3, 'H. Kaur', 'Female'),
    (5, 'J. Goswami', 'Female'),
    (7, 'Siraj', 'Male')
]
schema1 = ['id', 'name', 'gender']

data2 = [
    (4, 'Mithila', 'Female'),
    (6, 'Ashwin', 'Male'),
    (2, 'Rohit', 'Male')
]
schema2 = ['id', 'name', 'gender']

df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

df1.show()
df2.show()

+---+----------+------+
| id|      name|gender|
+---+----------+------+
|  1|     Virat|  Male|
|  2|     Rohit|  Male|
|  3|   H. Kaur|Female|
|  5|J. Goswami|Female|
|  7|     Siraj|  Male|
+---+----------+------+

+---+-------+------+
| id|   name|gender|
+---+-------+------+
|  4|Mithila|Female|
|  6| Ashwin|  Male|
|  2|  Rohit|  Male|
+---+-------+------+

In [ ]:
newDf = df1.union(df2)
newDf.distinct().show()

+---+----------+------+
| id|      name|gender|
+---+----------+------+
|  1|     Virat|  Male|
|  2|     Rohit|  Male|
|  3|   H. Kaur|Female|
|  5|J. Goswami|Female|
|  7|     Siraj|  Male|
|  4|   Mithila|Female|
|  6|    Ashwin|  Male|
+---+----------+------+

In [ ]:
newDf2 = df1.unionAll(df2) # Deprecated since Spark v2.0.0
newDf2.distinct().show()

+---+----------+------+
| id|      name|gender|
+---+----------+------+
|  1|     Virat|  Male|
|  2|     Rohit|  Male|
|  3|   H. Kaur|Female|
|  5|J. Goswami|Female|
|  7|     Siraj|  Male|
|  4|   Mithila|Female|
|  6|    Ashwin|  Male|
+---+----------+------+

In [ ]:
subDf = df1.subtract(df2)
subDf.show()

+---+----------+------+
| id|      name|gender|
+---+----------+------+
|  1|     Virat|  Male|
|  3|   H. Kaur|Female|
|  5|J. Goswami|Female|
|  7|     Siraj|  Male|
+---+----------+------+

In [ ]:
commonDf = df1.intersect(df2)
commonDf.show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  2|Rohit|  Male|
+---+-----+------+

# groupBy

In [ ]:
df.sort('Gender', 'Salary').show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  6|   Ella|  null|  6000|   NY|
|  9|  Henry|  null|  9000|   NY|
| 10|    Ina|  null| 10000|   TX|
|  2|  Alice|     F|  2000|   NY|
|  2|  Alice|     F|  3000|   NY|
|  8|   Gina|     F|  8000| null|
|  1| Alfred|     M|  1000| null|
|  3|    Bob|     M|  3000|   CA|
|  4|Charlie|     M|  4000|   TX|
|  5|  David|     M|  5000| null|
|  5|  David|     M|  5000| null|
|  7|  Frank|     M|  7000|   TX|
+---+-------+------+------+-----+

In [ ]:
df1 = df.groupBy('Gender').sum('Salary')
df1.show()

+------+-----------+
|Gender|sum(Salary)|
+------+-----------+
|     M|      25000|
|     F|      13000|
|  null|      25000|
+------+-----------+

In [ ]:
df1 = df.groupBy('Gender').max('Salary')
df1.show()

+------+-----------+
|Gender|max(Salary)|
+------+-----------+
|     M|       7000|
|     F|       8000|
|  null|      10000|
+------+-----------+

In [ ]:
df1 = df.groupBy('Gender', 'State').count()
df1.show()

+------+-----+-----+
|Gender|State|count|
+------+-----+-----+
|     M| null|    3|
|     M|   CA|    1|
|     F|   NY|    2|
|     M|   TX|    2|
|  null|   NY|    2|
|     F| null|    1|
|  null|   TX|    1|
+------+-----+-----+

## GroupBy agg()

In [ ]:
from pyspark.sql.functions import count, min, max, sum
df.groupBy('Gender').agg(
    count('*').alias('CountOfEmployees'),
    min('Salary').alias('MinSal'),
    max('Salary').alias('MaxSal'),
    sum('Salary').alias('Total Salary')
).show()

+------+----------------+------+------+------------+
|Gender|CountOfEmployees|MinSal|MaxSal|Total Salary|
+------+----------------+------+------+------------+
|     M|               6|  1000|  7000|       25000|
|     F|               3|  2000|  8000|       13000|
|  null|               3|  6000| 10000|       25000|
+------+----------------+------+------+------------+

In [ ]:
from pyspark.sql  import functions as F 
df.groupBy('Gender').agg(
    F.count('*').alias('CountOfEmployees'),
    F.min('Salary').alias('MinSal'),
    F.max('Salary').alias('MaxSal'),
    F.sum('Salary').alias('Total Salary')
).show()

+------+----------------+------+------+------------+
|Gender|CountOfEmployees|MinSal|MaxSal|Total Salary|
+------+----------------+------+------+------------+
|     M|               6|  1000|  7000|       25000|
|     F|               3|  2000|  8000|       13000|
|  null|               3|  6000| 10000|       25000|
+------+----------------+------+------+------------+

# unionByName

In [ ]:
data1 = [(1, 'Subir', 2000), (2, 'Kalyani', 3000)]
schema1 = ['id', 'Name', 'age']

data2 = [(1, 5,'Subir'), (2,20, 'Kalyani')]
schema2 = ['id','#Cars', 'Name']


df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

df1.show()
df2.show()

+---+-------+----+
| id|   Name| age|
+---+-------+----+
|  1|  Subir|2000|
|  2|Kalyani|3000|
+---+-------+----+

+---+-----+-------+
| id|#Cars|   Name|
+---+-----+-------+
|  1|    5|  Subir|
|  2|   20|Kalyani|
+---+-----+-------+

In [ ]:
df1.unionByName(df2, allowMissingColumns=True).show()

+---+-------+----+-----+
| id|   Name| age|#Cars|
+---+-------+----+-----+
|  1|  Subir|2000| null|
|  2|Kalyani|3000| null|
|  1|  Subir|null|    5|
|  2|Kalyani|null|   20|
+---+-------+----+-----+

# select

In [ ]:
df.select('id', 'Name', 'State').limit(2).show()

+---+------+-----+
| id|  Name|State|
+---+------+-----+
|  1|Alfred| null|
|  2| Alice|   NY|
+---+------+-----+

In [ ]:
df.select(['id', 'Name']).show()

+---+-------+
| id|   Name|
+---+-------+
|  1| Alfred|
|  2|  Alice|
|  3|    Bob|
|  4|Charlie|
|  5|  David|
|  6|   Ella|
|  7|  Frank|
|  8|   Gina|
|  2|  Alice|
|  9|  Henry|
|  5|  David|
| 10|    Ina|
+---+-------+

In [ ]:
df.select(df.id, df.Name, df.State).limit(2).show()

+---+------+-----+
| id|  Name|State|
+---+------+-----+
|  1|Alfred| null|
|  2| Alice|   NY|
+---+------+-----+

In [ ]:
df.select(df['id'], df['Name'], df['State']).limit(2).show()

+---+------+-----+
| id|  Name|State|
+---+------+-----+
|  1|Alfred| null|
|  2| Alice|   NY|
+---+------+-----+

In [ ]:
from pyspark.sql.functions import col 
df.select(col('id'), col('state')).show()

+---+-----+
| id|state|
+---+-----+
|  1| null|
|  2|   NY|
|  3|   CA|
|  4|   TX|
|  5| null|
|  6|   NY|
|  7|   TX|
|  8| null|
|  2|   NY|
|  9|   NY|
|  5| null|
| 10|   TX|
+---+-----+

In [ ]:
df.select('*').show()

+---+-------+------+------+-----+
| id|   Name|Gender|Salary|State|
+---+-------+------+------+-----+
|  1| Alfred|     M|  1000| null|
|  2|  Alice|     F|  2000|   NY|
|  3|    Bob|     M|  3000|   CA|
|  4|Charlie|     M|  4000|   TX|
|  5|  David|     M|  5000| null|
|  6|   Ella|  null|  6000|   NY|
|  7|  Frank|     M|  7000|   TX|
|  8|   Gina|     F|  8000| null|
|  2|  Alice|     F|  3000|   NY|
|  9|  Henry|  null|  9000|   NY|
|  5|  David|     M|  5000| null|
| 10|    Ina|  null| 10000|   TX|
+---+-------+------+------+-----+

In [ ]:
import re
df.select([col for col in df.columns if col=='Salary' or col =='State']).show()

+------+-----+
|Salary|State|
+------+-----+
|  1000| null|
|  2000|   NY|
|  3000|   CA|
|  4000|   TX|
|  5000| null|
|  6000|   NY|
|  7000|   TX|
|  8000| null|
|  3000|   NY|
|  9000|   NY|
|  5000| null|
| 10000|   TX|
+------+-----+

In [ ]:
# TBD
df.select([col for col in df.columns if re.match(col, 'S[a-z]*')]).show()

++
||
++
||
||
||
||
||
||
||
||
||
||
||
||
++

# isin

In [54]:
data1 = [
    (1, 'Virat', 'Male'),
    (2, 'Rohit', 'Male'),
    (3, 'H. Kaur', 'Female'),
    (5, 'J. Goswami', 'Female'),
    (7, 'Siraj', 'Male')
]
schema1 = ['id', 'name', 'gender']

data2 = [
    (4, 'Mithila', 'Female'),
    (6, 'Ashwin', 'Male'),
    (2, 'Rohit', 'Male')
]
schema2 = ['id', 'name', 'gender']

df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

df1.show()
df2.show()

+---+----------+------+
| id|      name|gender|
+---+----------+------+
|  1|     Virat|  Male|
|  2|     Rohit|  Male|
|  3|   H. Kaur|Female|
|  5|J. Goswami|Female|
|  7|     Siraj|  Male|
+---+----------+------+

+---+-------+------+
| id|   name|gender|
+---+-------+------+
|  4|Mithila|Female|
|  6| Ashwin|  Male|
|  2|  Rohit|  Male|
+---+-------+------+

In [55]:
df1.filter(df1.name.isin(['Virat', 'Siraj'])).show()

+---+-----+------+
| id| name|gender|
+---+-----+------+
|  1|Virat|  Male|
|  7|Siraj|  Male|
+---+-----+------+

# coalesce

In [57]:
# Finds the first not null value
df = spark.createDataFrame(
    [
        (1, 'Apple', 2000),
        (2, 'Pears', 1600),
        (3, 'Mango', 5000),
        (4, None, 1200 ),
        (5, 'Apricot', None)
    ],
    [
        'Id', 'Name', 'Value'
    ]
)
df.show()

# Ad - Impression, Impression_verified, Impression_unverified

+---+-------+-----+
| Id|   Name|Value|
+---+-------+-----+
|  1|  Apple| 2000|
|  2|  Pears| 1600|
|  3|  Mango| 5000|
|  4|   null| 1200|
|  5|Apricot| null|
+---+-------+-----+

In [59]:
from pyspark.sql import functions as F
df.select(F.coalesce(df.Name, df.Value)).show()

+---------------------+
|coalesce(Name, Value)|
+---------------------+
|                Apple|
|                Pears|
|                Mango|
|                 1200|
|              Apricot|
+---------------------+

# join

In [70]:
emp = spark.createDataFrame(
    [(1, 'Monalisa', 400, 'KOLKATA'), (2, 'Sudipta', 300, 'Bhopal'), (3, 'Priyanka', 500, 'Mumbai'), (4, 'Sohrab', 200, 'Pune'), (5, 'Amitabh', 100, 'Kolkata'), (6, 'Sujoy', None, 'Noida')],
    ['EId', 'Name', 'DeptId', 'Location']
)
dept = spark.createDataFrame(
    [
        (100, 'HR'),
        (200, 'FINANCE'),
        (300, 'FOUNDATION'),
        (400, 'ACADEMICE'),
        (500, 'CXO'),
        (600, 'ADMIN'),
        (700, 'ALL INDIA')
    ],
    ['Id', 'Dname']
)


# emp.join(dept, emp.DeptId == dept.Id, how="inner").show()
# emp.join(dept, emp.DeptId == dept.Id, how="left").show()
# emp.join(dept, emp.DeptId == dept.Id, how="right").show()
emp.join(dept, emp.DeptId == dept.Id, how="full").show()

+----+--------+------+--------+----+----------+
| EId|    Name|DeptId|Location|  Id|     Dname|
+----+--------+------+--------+----+----------+
|   6|   Sujoy|  null|   Noida|null|      null|
|   5| Amitabh|   100| Kolkata| 100|        HR|
|   4|  Sohrab|   200|    Pune| 200|   FINANCE|
|   2| Sudipta|   300|  Bhopal| 300|FOUNDATION|
|   1|Monalisa|   400| KOLKATA| 400| ACADEMICE|
|   3|Priyanka|   500|  Mumbai| 500|       CXO|
|null|    null|  null|    null| 600|     ADMIN|
|null|    null|  null|    null| 700| ALL INDIA|
+----+--------+------+--------+----+----------+

# Left semi, Lefi Anti, Self join

In [72]:
emp.join(dept, emp.DeptId == dept.Id, how="leftsemi").show()
emp.join(dept, emp.DeptId == dept.Id, how="leftanti").show()

+---+--------+------+--------+
|EId|    Name|DeptId|Location|
+---+--------+------+--------+
|  5| Amitabh|   100| Kolkata|
|  4|  Sohrab|   200|    Pune|
|  2| Sudipta|   300|  Bhopal|
|  1|Monalisa|   400| KOLKATA|
|  3|Priyanka|   500|  Mumbai|
+---+--------+------+--------+

+---+-----+------+--------+
|EId| Name|DeptId|Location|
+---+-----+------+--------+
|  6|Sujoy|  null|   Noida|
+---+-----+------+--------+

In [86]:
data = [
    (0, 'Madhuparna', None),
    (1, 'Sudipta', 0),
    (2, 'Ayan', 1),
    (3, 'Srijit', 0),
    (4, 'Nitin', 2)
]
schema = ['id', 'name', 'mgrId']

emp = spark.createDataFrame(data, schema)
emp.show()

from pyspark.sql.functions import col
emp.alias('empData').join(emp.alias('mgrData'), col('empData.mgrId') == col('mgrData.id'), how="left") \
    .select(col('empData.id').alias('empId'), col('empData.name').alias('empName'), col('mgrData.name').alias('Manager')) \
    .show()

+---+----------+-----+
| id|      name|mgrId|
+---+----------+-----+
|  0|Madhuparna| null|
|  1|   Sudipta|    0|
|  2|      Ayan|    1|
|  3|    Srijit|    0|
|  4|     Nitin|    2|
+---+----------+-----+

+-----+----------+----------+
|empId|   empName|   Manager|
+-----+----------+----------+
|    0|Madhuparna|      null|
|    1|   Sudipta|Madhuparna|
|    2|      Ayan|   Sudipta|
|    3|    Srijit|Madhuparna|
|    4|     Nitin|      Ayan|
+-----+----------+----------+

# Table Modifications

In [87]:
from pyspark.sql.functions import lit 
from pyspark.sql.types import IntegerType, StringType, DoubleType


emp = emp.withColumn("salary", lit("None").cast("integer"))
emp = emp.withColumn("id", emp["id"].cast("integer"))
emp = emp.drop("mgrId")
emp = emp.withColumnRenamed("id", 'emp_id')

emp.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [88]:
emp.show()

+------+----------+------+
|emp_id|      name|salary|
+------+----------+------+
|     0|Madhuparna|  null|
|     1|   Sudipta|  null|
|     2|      Ayan|  null|
|     3|    Srijit|  null|
|     4|     Nitin|  null|
+------+----------+------+